@import url(./reset.css);
/* @import url(./teat1.css); */
/*---------------------------------------------------------*/

/* * {
    outline: 1px solid red;
}  */

/*設置不會有橫向卷軸*/
.wrapper {
    max-width: 1440px;
    overflow: hidden;
    position: relative;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    background-color: #F9E5DA;
    position: relative;
    /*.begelimg"的父相子絕*/
    align-items: center;
    overflow-x: hidden;
}

/*logo*/
.header .logo{
    display: flex;
    margin: 0 auto;
    margin-left: 50px;
    position: fixed;
    top: 0;
    left: 0;
}

/*---------- 會員註冊標題區 ----------*/

.contact {
    position: relative;
    margin-left: 87px;
    margin-top: 40px;
}

/*---------- 嚴選食材副標題區 ----------*/

.contact_title {
    color: #69AFAD;
    font-size: 28px;
    font-weight: bold;
    margin-left: 59px;
    padding-bottom: 16px;
}

.contact .liner {
    height: 4px;
    background-color: #69AFAD;
    display: block;
    bottom: 0;
    left: 60px;
}


/*----------shoppcar/ig/fb follow icon ----------*/

/*測軸*/
.med_con {
    color: #354E52;
    text-align: top;
}
.media {
    display: flex;
    z-index: 5;
    position: fixed;
    flex-direction: column-reverse;
}
.media .md_icon {
    border-radius: 50%;
    background-color: #354E52;
    color: #fff;
    margin-top: 10px;
}

.med_con {
    color: #354E52;
    text-align: top;
    line-height: 40px;
    margin-right: 5px;
}

.media .md_icon {
    border-radius: 50%;
    background-color: #354E52;
    color: #F9E5DA;
    line-height: 30px;
    width: 30px;
    height: 30px;
    /* margin: 0 5px 0 5px;
    border: 1px solid #354E52; */
    display: inline;
    text-align: center;
    font-size: 15px;
    margin-left: 8px;
}

.md_icon1 {
    color: #354E52;
    font-size: 16px;
    font-weight: 500;
    /* padding-left: 5px; */
}

.media {
    display: flex;
    /* padding-left: 15px; */
    float: right;
    transform: rotate(90DEG);
    z-index: 5;
    position: fixed;
    /*定位*/
    top: 580px;
    right: -20px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
}

/*跟蹤導航欄*/

#nav {
    width: 69%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 10em;
    display: flex;
    list-style: none;
    background: #f5f5f5;
    box-shadow: 20px 40px 40px #00000033;
    padding: 10px;
    z-index: 1000;
}

#nav li a {
    position: relative;
    /* padding: 15px 50px; */
    padding: 5px 40px;
    font: 500 22px Tahoma;
    border: none;
    outline: none;
    color: #ba4b50;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    z-index: 3;
}

#nav li i {
    padding-right: 10px;
} 

.slide1,
.slide2{
    position: absolute;
    display: inline-block;
    height: 40px;
    border-radius: 10em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}

.slide1 {
    /* background-color: #E7A4A6; */
    z-index: 2;
}

.slide2 {
    opacity: 20;
    background-color: #E7A4A6;
    z-index: 1;
    box-shadow: 0 0 20px #ffffffaa inset;
}

.squeeze {
    transform: scale(0.9);
}
/*---------- nav ----------*/
/* .nav {
    width: 1510px;
    display: flex;
    position: fixed;
    z-index: 5;
    top: 0;
}

.nav .logo {
    width: 130px;
    height: 130px;
    padding-left: 31px;
    margin-right: 70px;
}

a {
    text-decoration: none;
}

.nav ul {
    display: flex;
    margin-top: 40px;
    margin-right: 38px;
}


.nav ul li {
    font-size: 20px;
    display: flex;
    position: relative;
}

.nav ul li a {
    width: 155px;
    height: 47px;
    margin: 0 auto;
    text-align: center;
    line-height: 47px;
    color: #ba5e62;
    border-radius: 20px;
    margin: -10px 0 0 25px;
    font-size: 20px;
    text-align: center;
    padding: 0 15px 0 0;
    box-sizing: border-box;
}

.nav i {
    width: 32px;
    height: 32px;
    color: #F9E5DA;
    line-height: 32px;
    display: inline-block;
}

.nav p {
    display: inline-block;
}
 */
