@import url(./reset.css);

/*-------------------- 第一頁 --------------------*/

* {
    /* outline: 1px solid red; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    width: 1440px;
    margin: 0 auto;
    background-color: #F9E5DA;
    position: relative;
    /*.begelimg"的父相子絕*/
    align-items: center;
    /* overflow: hidden; */
}

/*----------shoppcar/ig/fb follow icon ----------*/

/*測軸*/
.med_con {
    color: #354E52;
    text-align: top;
}
.media {
    display: flex;
    z-index: 5;
    position: fixed;
    flex-direction: column-reverse;
}
.media .md_icon {
    border-radius: 50%;
    background-color: #354E52;
    color: #fff;
    margin-top: 10px;
}
.med_con {
    color: #354E52;
    text-align: top;
    line-height: 40px;
    margin-right: 5px;
}

.media .md_icon {
    border-radius: 50%;
    background-color: #354E52;
    color: #F9E5DA;
    line-height: 30px;
    width: 30px;
    height: 30px;
    /* margin: 0 5px 0 5px;
    border: 1px solid #354E52; */
    display: inline;
    text-align: center;
    font-size: 15px;
    margin-left: 8px;
}

.md_icon1 {
    color: #354E52;
    font-size: 16px;
    font-weight: 500;
    /* padding-left: 5px; */
}

.media {
    display: flex;
    /* padding-left: 15px; */
    float: right;
    transform: rotate(90DEG);
    z-index: 5;
    position: fixed;
    /*定位*/
    top: 580px;
    right: -20px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
}

/*跟蹤導航欄*/

#nav {
    width: 69%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 10em;
    display: flex;
    list-style: none;
    background: #f5f5f5;
    box-shadow: 20px 40px 40px #00000033;
    padding: 10px;
    z-index: 1000;
}

#nav li a {
    position: relative;
    /* padding: 15px 50px; */
    padding: 5px 40px;
    font: 500 22px Tahoma;
    border: none;
    outline: none;
    color: #ba4b50;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    z-index: 3;
}

#nav li i {
    padding-right: 10px;
} 

.slide1,
.slide2 {
    position: absolute;
    display: inline-block;
    height: 40px;
    border-radius: 10em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}

.slide1 {
    /* background-color: #E7A4A6; */
    z-index: 2;
}

.slide2 {
    opacity: 20;
    background-color: #E7A4A6;
    z-index: 1;
    box-shadow: 0 0 20px #ffffffaa inset;
}

.squeeze {
    transform: scale(0.9);
}
/*---------- search ----------*/

.search {
    display: flex;
    margin-top: 40px;
    z-index: 5;
    text-align: center;
    margin-left: 5px;
}

.search input {
    margin-left: 10px;
    width: 200px;
    height: 47px;
    border-radius: 25px;
    background-color: #BA5E62;
    color: #F9E5DA;
    font-size: 19px;
    border: none;
    margin-right: 23px;
    text-align: center;
    line-height: 47px;
}

.search button {
    background-color: #BA5E62;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    margin-right: 50px;
}

.search button img {
    float: left;
    padding: 2px 0 0 5px;
}

.search i {
    color: #F9E5DA;
}

/*---------- title:文字 ----------*/
.subtitle {
    display: flex;
    /*設flex布局*/
    flex-direction: row;
    /*設主軸為水平方向*/
    width: 669px;
    height: 73px;
    color: #69AFAD;
    font-size: 60px;
    opacity: 90%;
    font-family: sans-serif;
    font-weight: 800;
    margin-left: 59px;
    margin-top: 30px;
}

.title .subtitle h2:not(:first-child) {
    padding-left: 33px;
}

.subtitle p {
    display: block;
    line-height: 73px;
    width: 223px;
    height: 14px;
    color: #E7A4A6;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 800;
    text-shadow: 1px;
    padding-bottom: 104px;
    /* padding-right: 33px; */
    margin-left: 18px;
    background-color: #ba5e62;
    clip-path: polygon(71% 0, 100% 24%, 100% 64%, 0 64%, 0 0);
    text-align: center;
    /* line-height: 1.6px; */
    /* margin: 0 auto;*/
}

/*about: (3)背景底圖*/

.backgroundimg {
    position: relative;
    z-index: -1;
}

.logoimg {
    position: absolute;
    width: 800px;
    transform: rotate(-10deg);
    opacity: 20%;
    /* outline: 3px solid red; */
    left: 767px;
    top: 37px;
    z-index: 1;
}

/*-----------------------------登入login.html-----------------------------*/

/*-----店標題-----*/
.check_title {
    margin-top: 201px;
    margin-right: 96px;
    margin-left: 333px;
    width: 1078px;
    margin-bottom: 40px;
    text-align: left;
}

/*-----標題:菜單-----*/
.check_title .hd {
    /* position: absolute;
    top: 0px;
    left: 0px; */
    width: 1050px;
    border-bottom: 2px solid #ba5e62;
    font-size: 50px;
    font-weight: 800;
    color: #ba5e62;
    line-height: 0.8;
    text-align: left;
}

.check {
    width: 1210px;
    border-bottom: 4px solid #69AFAD;
    margin-bottom: 32px;
    margin-left: 130px;
}

.checktitle {
    color: #69AFAD;
    font-size: 28px;
    /* font-weight: 700px; */
    font-weight: bold;
    margin-left: 59px;
    padding-bottom: 21px;
    padding-top: 50px;
    /* border: 1px solid red; */
    text-align: left;
}

/*-----------------------------我的購物車checkout.html頁面-----------------------------*/
.main h3 {
    width: 700px;
    height: 46px;
    color: #BA5E62;
    font-weight: 800;
    border-radius: 5px;
    background-color: #fff;
    margin-left: 370px;
    padding-left: 10px;
    line-height: 46px;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 25px;
}

.main li {
    width: 700px;
    height: 245px;
    border-radius: 5px;
    background-color: #fff;
    /* margin-left: 370px; */
    margin-bottom: 25px;
    display: flex;
    margin: 0 auto;
    /* position: relative; */
    color: #354E52;
    line-height: 40px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main li img {
    float: left;
    padding: 45px 30px 5px 30px;
    width: 195px;
    height: 190px;
}

/*貝果*/
.prod {
    /*父*/
    display: flex;
    flex-direction: column;
}

.main .prod1 {
    display: flex;
}

.main .prod1 h2 {
    font-weight: 800;
}

.prod3 {
    display: flex;
}

.main li {
    position: relative;
}

.main li>i {
    position: absolute;
    top: 20px;
    right: 15px;
}

.prod1 {
    padding-top: 30px;
}

.prod1 h2 {
    /*$50價格定位*/
    padding-right: 140px;
    padding-left: 15px;
}

.prod2 {
    /*貝果定位*/
    padding-right: 120px;
    text-align: left;
    padding-left: 15px;
}

.prod3 {
    /*乳酪定位*/
    padding-left: 15px;
}

.prod3 span {
    /*乳酪價格定位*/
    padding-left: 100px;
}

.button a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #bA5E62;
}

input {
    /* width: 120px; */
    /* height: 20px; */
    text-align: center;
    line-height: 18px;
}

.main li:nth-child(2) {
    /*第二個add定位*/
    position: relative;
}

.main li:nth-child(2)>i {
    position: absolute;
    top: 20px;
    right: 15px;
}

.prod4 {
    /*乳酪定位*/
    padding-left: 230px;
    padding-left: 192px;
}

.prod .icon {
    margin-right: 400px;
    width: 35px;
    height: 35px;
}

.main li {
    margin-bottom: 20px;
}

/*奶油乳酪*/
.prodTwo .prod6 {
    padding-right: 220px;
    text-align: left;
    padding-left: 15px;
    font-weight: 500;
}

.prodTwo .prod5 {
    padding-top: 30px;
    padding-right: 60px;
    display: flex;
}

.prod5 h2 {
    padding-left: 20px;
    display: flex;
    font-weight: 800;
}

.proTwo .prod5 span {
    padding-right: 40px;
    display: flex;
    padding-right: 0px;
    padding-left: 69px;
    margin-left: 0px;
}

.prodTwo {
    width: 420px;
}

.prod6 {
    display: flex;
}

.prodTwo .prod7 {
    text-align: right;
    padding-left: 190px;
   margin-left: 5px;
}
.prodTwo{

}
.prod7 button{
    width: 24px;
}

.prod5 span {
    padding-left: 155px;
    font-weight: 500;
}

.prodTwo input {
    /* padding-left: 50px; */
    width: 160px;
    height: 24px;
    text-align: center;
    margin-top: 30px;
}

/*拿鐵*/
.prodThree {
    width: 445px;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    font-size: 18px;
    font-weight: 500;
}

.prod8 {
    display: flex;
    padding-top: 30px;
    padding-right: 60px;
}

.prod8 span {
    margin-left: 240px;
}

.main li:nth-child(3) {
    /*第三個add定位*/
    position: relative;
}

.main li:nth-child(3)>i {
    position: absolute;
    top: 20px;
    right: 15px;
}

.prodThree form {
    display: flex;
}

.drink {
    display: flex;
    margin-top: 3px;
    font-size: 17px;
}

.ps {
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 330px;
    font-size: 14px;
    line-height: 40px;
    margin-right: 30px;
}

.prod8 {
    padding-left: 15px;
}

.prod8 h2 {
    font-weight: 800;
}

.drink h2,
.ps h2 {
    padding-left: 10px;
}

.prod9 {
    /* padding-left: 100px; */
    display: flex;
    justify-content: end;
    padding-top: 10px;
    margin-left: 0px;
}
.prod9 input{
    width: 100px;
    height: 20px;
    /* padding-right: 40px;/ */
}

/*-----同意事項區-----*/

.check_{
    color: #BA5E62;
    font-size: 18px;
    width: 700px;
    margin-left: 460px;
    text-align: center;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 20px;
    /* padding-left: 10px; */
}

/*按鈕*/

.button {
    width: 350px;
    height: 50px;
    margin-left: 350px;
    background-color: #fff; 
    color: #BA5E62;
    border: 1px solid #BA5E62;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    border-radius: 18px;
    transition-duration: 0.4s;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.order_button {
    line-height: 50px;
    margin-left: 100px;
    width: 280px;
    height: 50px;

    padding: 0 20px;
    background-color: #BA5E62;
    color: #fff;
    border-radius: 5px;

    outline: none;
    border: none;

    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;

    margin: 55px 610px;
    letter-spacing: 0.05em;

    font-size: 20px;
    font-weight: 400px;
}

/* .order_button{
    width: 280px;
    height: 50px;

    padding: 0 20px;
    background: #fff;
    border-radius: 5px;

    outline: none;
    border: none;

    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;

    margin: 3% auto;
    letter-spacing: 0.05em;
} */

.bth {
    text-align: center;
}

.button:hover {
    background-color: #BA5E62; 
    /* color: #F9E5DA; */
}

.button:hover a{
    color:#F9E5DA;
}