/*------------------- 第四頁點餐三步驟 -------------*/
@import url(./reset.css);


/*-------------------- 第一頁 --------------------*/

/* * {
    outline: 1px solid red;
}  */

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    /* max-width: 1440px; */
    width: 1440px;
    margin: 0 auto;
    background-color: #F9E5DA;
    position: relative;
    /*.begelimg"的父相子絕*/
    align-items: center;
    /* overflow: hidden; */
}

.wrapper{
    max-width: 1440px;
    overflow: hidden;
}

/*---------- ig fb  teitter follow icon ----------*/

.media p {
    display: flex;
    /*橫向排列*/
}

.med_con {
    color: #354E52;
    text-align: center;
    line-height: 27px;
    margin-right: 10px;
}

.media .md_icon {
    border-radius: 50%;
    background-color: #354E52;
    color: #F9E5DA;
    /* line-height: 30px; */
    width: 27px;
    height: 27px;
    /* margin: 0 5px 0 5px;
    border: 1px solid #354E52; */
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin-left: 5px;
}

.md_icon1 {
    color: #354E52;
    font-size: 16px;
    font-weight: 500;
    /* padding-left: 10px; */
}

.media {
    display: flex;
    /* padding-left: 15px; */
    /* float: right; */
    transform: rotate(90DEG);
    z-index: 5;
    position: fixed;
    /*定位*/
    top: 600px;
    right: -10px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    /* background-color: #69AFAD; */
}

/*跟蹤導航欄*/

#nav {
    width: 70vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 10em;
    display: flex;
    list-style: none;
    background: #f5f5f5;
    box-shadow: 20px 40px 40px #00000033;
    padding: 15px;
    z-index: 1000;
}

#nav li a {
    position: relative;
    /* padding: 15px 50px; */
    padding: 5px 50px;
    font: 500 22px Tahoma;
    border: none;
    outline: none;
    color: #ba4b50;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    z-index: 3;
}

#nav li i {
    padding-right: 10px;
} 

.slide1,
.slide2 {
    position: absolute;
    display: inline-block;
    height: 40px;
    border-radius: 10em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}

.slide1 {
    /* background-color: #E7A4A6; */
    z-index: 2;
}

.slide2 {
    opacity: 20;
    background-color: #E7A4A6;
    z-index: 1;
    box-shadow: 0 0 20px #ffffffaa inset;
}

.squeeze {
    transform: scale(0.9);
}

/*---------- search ----------*/

/* .search {
    display: flex;
    margin-top: 40px;
    z-index: 5;
    text-align: center;
    margin-left: 5px;
}

.search input {
    margin-left: 10px;
    width: 200px;
    height: 47px;
    border-radius: 25px;
    background-color: #BA5E62;
    color: #F9E5DA;
    font-size: 19px;
    border: none;
    margin-right: 23px;
    text-align: center;
    line-height: 47px;
}

.search button {
    background-color: #BA5E62;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    margin-right: 50px;
}

.search button img {
    float: left;
    padding: 2px 0 0 5px;
}

.search i {
    color: #F9E5DA;
} */

/*--------------------共同頁面區結束--------------------*/

/*--------------------P4 Order三步驟 --------------------*/
/*-----標題----*/
.bageli_title1 .hd {
    /* position: absolute;
    top: 0px;
    left: 0px; */
    width: 1050px;
    border-bottom: 2px solid #BA5E62;
    font-size: 50px;
    font-weight: 800;
    color: #ba5e62;
    line-height: 0.8;
}

.order{
    width: 1210px;
    border-bottom: 4px solid #69AFAD;
    margin-bottom: 32px;
    margin-left: 130px;
}

.order_set {
    width: 1210px;
    /* border-bottom: 4px solid #EFA5A6; */
    /* margin-bottom: px; */
    margin-left: 90px;
}

.banner_title{
    color: #69AFAD;
    font-size: 28px;
    font-weight: bold;
    margin-left: 59px;
    padding-bottom: 21px;
    padding-top: 50px;
}

.orderimg {
    width: 100%;
    height: 356px;
    /* padding-left: 180px; */
    text-align: center;
    margin-top: 50px;
}

/*預定三步驟文字*/

.order_set {
    padding-top: 40px;
    display: flex;
    /* margin-left: 40px; */
    margin-bottom: 50px;
    flex-direction: column;
}

.order_set h2 {
    width: 240px;
    height: 37px;
    font-weight: 800;
    color: #ffffff;
    background-color: #354E52;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    margin-top: 30px;
    padding-right: 30px;

}

.banner {
    width: 1001px;
    height: 260px;
}

.order_set h3 {
    font-size: 24px;
    color: #354E52;
    text-align: left;
    line-height: 45px;
    margin-left: 50px;
    font-size: 700;
}

/*第一個步驟*/
.order_set {
    padding-left: 60px;
    /* padding-top: 40px; */
    /* display: flex;
    position: relative; */
    /* margin-left: 110px; */
    margin-right: 0px;
    left: 0px;
    right: 0px;
}

.banner h2 {
    width: 240px;
    height: 37px;
    color: #ffffff;
    background-color: #354E52;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    line-height: 37px;
    font-weight: 800;
}


.banner h3 {
    font-size: 36px;
    color: #000000;
    text-align: left;
    line-height: 80px;
    margin: 30px 16px 0 40px;
    font-weight: 600;
}

.order_set>h3 {
    margin: 30px 16px 0 0;
}

.order_step {
    display: flex;
    height: 50px;
    width: 1250px;
    margin-top: 40px;
}

.order_cont {
    width: 350px;
    height: 150px;
    padding: 24px 33px 12px 26px;
}

.order_step {
    width: 350px;
    height: 190px;
    display: flex;
    border: 6px dashed #EFA5A6;
    border-radius: 40px;
    background-color: #fff;
    margin-top: 28px; 
    margin-right: 60px;
}

.order_steps{
    display: flex;
    margin-left: 150px;
}

.order_step p {
    padding: 33px 10px 33px 10px;
    font-size: 21px;
    color: #354E52;
    font-weight: 600;
    line-height: 1.8;
    margin-top: 15px;
    position: relative;
}

.order_step {
    position: relative;
    margin-right: 70px;
}

.order_steps h1 {
    width: 120px;
    height: 55px;
    border-radius: 60px;
    background-color: #EFA5A6;
    color: #F9E5DA;
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    line-height: 60px;
    position: absolute;
    z-index: 1;
}

.order_step h3 {
    font-size: 40px;
    font-weight: 800;
    color: #974B4E;
    width: 150px;
    /* height: 180px; */
    padding-left: 26px;
    line-height: 180px;
}

/* .order_step li:not(:last-child) {
    padding-right: 40px;
}  */

/*立即下單按鈕*/

/* .order_button {
    width: 190px;
    height: 50px;
    background-color: #BA5E62;
    color: #F9E5DA;
    filter: drop-shadow(3px 5px 4px rgba(52, 19, 19, 0.8));
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    border-radius: 40px;
    position: relative;
    top: 66px;
    left: 648px;
} */

.order_button {
    line-height: 50px;
    margin-left: 100px;
    width: 280px;
    height: 50px;

    padding: 0 20px;
    background-color: #BA5E62;
    color: #fff;
    border-radius: 5px;

    outline: none;
    border: none;

    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;

    margin: 55px 610px;
    letter-spacing: 0.05em;

    font-size: 20px;
    font-weight: 400px;
}

.order_button a {
    color: #F9E5DA;
    text-decoration: none;
}

.order_button i {
    color: #F9E5DA;
    margin-left: 10px;
}

/* 店舖位置標題*/
section {
    margin-top: 100px;
    /* margin: 0 auto; */
}

.shop {
    width: 1210px;
    border-bottom: 4px solid #69AFAD;
    margin-bottom: 32px;
    margin-left: 129px;
    margin-top: -75px;
}

.shoptitle {
    color: #69AFAD;
    font-size: 28px;
    font-weight: bold;
    margin-left: 50px;
    padding-bottom: 21px;
    padding-top: 80px;
    /* padding-top: -30px;  */
 } 

.shopimg {
    max-width: 1280px;
    height: 450px;
    text-align: center;
    margin-top: 0px;
    display: flex;
    margin-left: 100px;
}

.shopimg {
    margin-right: 300px;
    max-width: 650px;
    margin-top: 80px;
}

.shop2 {
    position: relative;
}

.shop2 h1 {
    font-size: 44px;
    color: #BA5E62;
    font-weight: 800;
    position: absolute;
    top: -5px;
    left: 170px;
}

.shop2 h4 {
    font-size: 44px;
    color: #BA5E62;
    font-weight: 800;
    position: absolute;
    top: 110px;
    left: 170px;
}

.shop2 h3 {
    font-size: 48px;
    color: #EFA5A6;
    text-shadow: 3px 1px rgba(153, 0, 0, 0.57);
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 180px;
}
.shop_name h2{
    width: 180px;
    height: 120px;
    /* background-color: #BA5E62; */
    color: #F9E5DA;
    /* filter: drop-shadow(3px 5px 4px rgba(52, 19, 19, 0.8)); */
    font-weight: 800;
    font-size: 28px;
    color: #BA5E62;
    position: absolute;
    top: 890px;
    left: 23px;
}

.shop_name h2 i {
    padding-left: 5px;
}

.shop_name {
    /* width: 396px; */
    height: 40px;
    font-weight: 750;
    font-size: 24px;
    color: #BA5E62;
    margin-top: 40px;
    margin-left: 200px;
    padding-left: 10px;
}

/*-----shop content-----*/

.shop_name {
    width: 1076px;
    max-height: 108px;
    /* margin-bottom: 40px; */
    /* margin-top: 680px; */
}

.shop_name h2{
    width: 476px;
    height: 50px;
    color: #BA5E62;
    position: absolute;
    top: 2090px;
    left: 200px;
}

.shop_cont {
    margin-top: 110px;
    max-width: 250px;
    height: 165px;
}

.shop_cont ul {
    display: flex;
    justify-content: flex-start;
    margin: 0 0px;
}

.shop_cont h3 {
    background-color: rgba(239, 165, 166, 0.3);
    color: rgba(186, 94, 98, 0.8);
    border-bottom: 1px solid rgba(239, 165, 166, 0.3);
    font-size: 20px;
    font-weight: 800;
    width: 300px;
    height: 36px;
    line-height: 36px;
    text-align: left;
    padding-left: 30px;
}

.shop_cont p {
    padding-top: 20px;
    color: #BA5E62;
    font-size: 18px;
    font-weight: 500;
    width: 356px;
    max-height: 80px;
    text-align: left;
    padding-bottom: 10px;
    line-break: 70px;
    padding-left: 30px;

}

.shop_title li {
    width: 356px;
}

.shop_hd1,
.shop_hd2 {
    padding-left: 10px;
}
.order_step1_1 {
    width: 340px;
    height: 170px;
    display: flex;
    border: 6px dashed #EFA5A6;
    border-radius: 40px;
    background-color: #fff;
    margin-top: 28px;
}

/*footer區*/
.footer_hd {
    background-color: #69AFAD;
    max-width: 1440px;
    width: 100vw;
}

.colorBlock {
    height: 76px;
    display: block;
    margin-top: 100px;
}

footer {
    background-color: #69AFAD;
}

.footer_con {
    display: flex;
}

.top {
    display: flex;
    flex-direction: column;
    padding-left: 158px;
    display: inline-block;
}

.top h1 {
    font-size: 60px;
    font-weight: 800;
    color: #354E52;
    /* width: 416px;
    height: 44px; */
    padding-top: 40px;
    line-height: 1;
}

.top h2 {
    font-size: 50px;
    font-weight: 100;
    color: #354E52;
    padding-left: 19.5px;
    /* width: 377px;
    height: 36px; */
    padding-top: 20px;
    line-height: 1;
}

.mid {
    display: flex;
    /*並排*/
    flex-direction: column;
    /*直向往下排列*/
    padding-left: 166px;
    padding-top: 44px;
}

.mid h3 {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1;
    margin-top: 19px;
}

/* .mid_con {
    display: flex;
}

.mid_con a {
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    text-align: center;
}

.mid_con h4 {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 400;
    width: 455px;
    border-bottom: 1px solid #354E52;
    padding: 10px 0 5px 10px;
} */

.mailicon {
    margin-right: 10px;
    margin-top: -2px;
    font-size: 15px;
}

.mailicon i {
    height: 20px;
    width: 20px;
    margin-top: 7px;
}

.bottom {
    margin-top: 15px;
    text-align: center;
    color: #ffffff;
}

.mid_con h4 {
    /* height: 18px; */
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 400;

    width: 265px;
    width: 455px;

    border-bottom: 1px solid #354E52;
    padding: 10px 0 5px 10px;
}

.mailicon {
    margin-right: 10px;
    margin-top: 5px;
    font-size: 15px;
}

.mailicon i {
    height: 20px;
    width: 20px;
    margin-top: 7px;
}

.mid_con h1{
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 400;

    width: 265px;
    width: 455px;

    border-bottom: 1px solid #354E52;
    padding: 10px 0 5px 10px;
}
