@import url(./reset.css);

/*-----------------------------共同樣式區----------------------------*/

/* * {
    outline: 1px solid red;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    width: 1440px;
    margin: 0 auto;
    background-color: #F9E5DA;
    position: relative;
    /*.begelimg"的父相子絕*/
    align-items: center;
    /* overflow: hidden; */
}

/*----------shoppcar/ig/fb follow icon ----------*/

.media p {
    display: flex;
    
    /*橫向排列*/
}

.med_con {
    color: #354E52;
    text-align: top;
    line-height: 40px;
    margin-right: 10px;
}

.media .md_icon {
    border-radius: 50%;
    background-color: #354E52;
    color: #F9E5DA;
    line-height: 30px;
    width: 30px;
    height: 30px;
    /* margin: 0 5px 0 5px;
    border: 1px solid #354E52; */
    display: inline;
    text-align: center;
    font-size: 15px;
    margin-left: 6px;
}

.md_icon1 {
    color: #354E52;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
}

.media {
    display: flex;
    /* padding-left: 15px; */
    float: right;
    transform: rotate(90DEG);
    z-index: 5;
    position: fixed;
    /*定位*/
    top: 500px;
    right: -75px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    /* background-color: #69AFAD; */
}


/*---------- nav ----------*/

.nav {
    width: 1440px;
    display: flex;
    position: fixed;
    z-index: 5;
    top: 0;
}

.nav .logo {
    width: 130px;
    height: 130px;
    padding-left: 31px;
    margin-right: 70px;
}

a {
    text-decoration: none;
}

/* .nav {
    width: 1090px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
} */

.nav ul {
    display: flex;
    margin-top: 40px;
    margin-right: 8px;
}


.nav ul li {
    font-size: 20px;
    display: flex;
    position: relative;
}

.nav ul li a {
    /* display: flex; */
    /*a行內元素轉塊元素*/
    width: 155px;
    height: 47px;
    margin: 0 auto;
    text-align: center;
    line-height: 47px;
    color: #F9E5DA;
    background-color: #BA5E62;
    border-radius: 20px;
    margin: 0 0 0 25px;
    font-size: 19px;
    text-align: center;
    padding: 0 15px 0 0;
    /* justify-content: space-around; */
    box-sizing: border-box;
}

.nav i {
    width: 32px;
    height: 32px;
    color: #F9E5DA;
    /* padding: 8px 0 12px 8px; */
    line-height: 32px;
    display: inline-block;
}

.nav p {
    display: inline-block;
    /* position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; */
}


/* .nav li nth(1)a:hover {
    font-size: bold;
    font-size: 20px;
    background-color: #F9E5DA;
    color: #BA5E62;
    margin-bottom: 1px solid #BA5E62;
    box-shadow: 0 5px #bA5E62;
    transform: translateY(4px);
} */

/*---------- search ----------*/

.search {
    display: flex;
    margin-top: 40px;
    z-index: 5;
    text-align: center;
    margin-left: 5px;
}

.search input {
    margin-left: 10px;
    width: 200px;
    height: 47px;
    border-radius: 25px;
    background-color: #BA5E62;
    color: #F9E5DA;
    font-size: 19px;
    border: none;
    margin-right: 23px;
    text-align: center;
    line-height: 47px;
}

.search button {
    background-color: #BA5E62;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    margin-right: 50px;
}

.search button img {
    float: left;
    padding: 2px 0 0 5px;
}

.search i {
    color: #F9E5DA;
}

/*-----------------------------PickUp頁面-----------------------------*/

.shopName, .Pick{
    width: 250px;
    height: 60px;
    background-color: rgba(186, 94, 98, 0.2);
    line-height: 60px;
    border-radius: 30px;
    margin-left: 180px;
    text-align: center;
    margin-bottom: 33px;
    font-size: 18px;
    font-weight: 800;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.shopName> h2{
    color:#BA5E62;
}

.Pick h2>a{
    color:#BA5E62;
}


.Pick {
    position: relative;
}

.Pick h3 {
    width: 252px;
    height: 82px;
    border-radius: 40px;
    background-color: #fff;
    color: #69AFAD;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    line-height: 40px;
    padding-left: 30px;
    position: absolute;
    top: -20px;
    left: 680px;
    z-index: 0;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #69AFAD;
}

.Pick h3 a {
    color: #69AFAD;
    margin-left: 75px;
    
    /* font-weight: 800; */
}

.Pick h4 {
    width: 242px;
    height: 82px;
    border-radius: 40px;
    background-color: #69AFAD;
    color: #ffff;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    line-height: 40px;
    padding-left: 20px;
    border: 1x solid #ffff;
    position: absolute;
    top: -20px;
    left: 890px;
}

.Pick h4 a {
    color: #ffff;
}

.Pick p {
    font-size: 18px;
}

.pick_search {
    font-weight: 700;
    padding-top: 20px;
}

.pick_search ul {
    display: flex;
    align-items: center;
    margin-left: 190px;
}

.pick_search li {
    width: 120px;
    height: 55px;
}

.pick_search li>a {
    /* background-color: #fff; */
    color: #BA5E62;
    margin: 0 auto;
    font-size: 16px;
}

.pick_search li{
    background-color: #fff;
}

.pick_search li:nth-child(1){
    background-color: #ba5e62;
}

.pick_search li:nth-child(1) a{
    color: white;
}

/* 
.pick_search li a:nth-child(1) {
    background-color: #BA5E62;
    color: #fff;
}

.pick_search li:nth-child(1) {
    background-color: #BA5E62;
}

.pick_search a:not(:nth-child(1)) {
    color: #BA5E62;
}


.pick_search li>a:not(:first-child) {
    background-color: #fff;
    color: #BA5E62;
} */


.pick_search li {
    width: 180px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-weight: 800;
    border-radius: 20px 20px 0 0;
    border: 1px solid #BA5E62;
    /* background-color: #fff; */
}

.pick_search {
    margin-bottom: 40px;
}

.shop_name {
    margin-bottom: 195px;
}

.pick_search h1 {
    width: 760px;
    margin-left: 210px;
    border-bottom: 1px solid #ba5e62;
    font-size: 24px;
    font-weight: 800;
    color: #ba5e62;
    margin-top: 60px;
    text-align: left;
}

.pick_search p {
    margin-top: 24px;
    font-weight: 500;
    color: #354E52;
    text-align: center;
    margin-right: 180px;
}

/*--標題--*/

.pickup_main h1 {
    width: 760px;
    margin-left: 210px;
    border-bottom: 1px solid #ba5e62;
    font-size: 24px;
    font-weight: 800;
    color: #ba5e62;
    margin-top: 62px;
    text-align: left;
}

.pickup_main h6 {
    margin-top: 24px;
    color: #354E52;
    text-align: left;
    margin-left: 220px;
    margin-right: 180px;
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 600;
}

/*-第一區pickup_main--*/

.begalMenu {
    display: flex;
    background-color: #FFF;
    border: 1px solid #BA5E62;
    border-radius: 20px;
    width: 470px;
    height: 150px;
}

.begalMenu img {
    width: 150px;
    height: 150px;
}

.begalMenu p {
    background-color: #BA5E62;
    color: #fff;
    width: 55px;
    height: 48px;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    box-shadow: -5px 3px rgba(239, 165, 166, 0.8);
    /* position: absolute; */
    margin-left: -20px;
    margin-top: -15px;
    line-height: 52px;
}

.begalMenu h5 {
    margin-left: 12px;
    margin-top: 50px;
    line-height: 38px;
    font-size: 24px;
    font-weight: 800;
}

/*第二個*/
.sectionMenu,
.begalMenu {
    display: flex;
}

.sectionMenu {
    max-width: 1000px;
    width: 100%;
    margin-left: 193px;
    justify-content: space-between;
}

.begalMenu:nth-child(2) {
    margin-top: 30px;
}

.begalMenu:nth-child(1) {
    margin-top: 30px;
}



/*main 菜單*/
/* .main1,
.main2,
.main3,
.main4 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 210px;
}

/* .pickup_main li {
    display: flex;
    top: 0px;
    left: 0px;
    background-color: #FFF;
    border: 1px solid #BA5E62;
    border-radius: 20px;
    width: 470px;
    height: 150px;
} */
.pickup_main h6 {
    margin-top: 20px;
    color: #354E52;
    text-align: left;
    margin-left: 220px;
    margin-right: 180px;
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: 600;
}

.main1 .h6 {
    margin-top: 24px;
    font-weight: 500;
    color: #354E52;
    text-align: right;
    margin-right: 180px;
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 600;
    font-weight: 600;
}

.pickup_main h5 {
    width: 297px;
    height: 90px;
    line-height: 32px;
    margin: 29px 12px 29px 12px;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    color: #354E52;
}

.main1 li:nth-child(2) {
    margin-left: 60px;
}

/*確認送出按鈕*/
.order_button2 {
    width: 160px;
    height: 50px;
    background-color: #BA5E62;
    color: #F9E5DA;
    filter: drop-shadow(3px 5px 4px rgba(52, 19, 19, 0.8));
    font-weight: 800;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    border-radius: 40px;
    position: relative;
    top: 60px;
    left: 620px;
}

.order_button2 a {
    color: #F9E5DA;
}

.order_button2 i {
    color: #F9E5DA;
    margin-left: 10px;
}