@import url(./reset.css);
/* @import url(./teat1.css); */
/*---------------------------------------------------------*/

/* * {
    outline: 1px solid red;
}  */

/*設置不會有橫向卷軸*/
.wrapper {
    max-width: 1440px;
    overflow: hidden;
    position: relative;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    background-color: #F9E5DA;
    position: relative;
    /*.begelimg"的父相子絕*/
    align-items: center;
    overflow-x: hidden;
    font-size: 16px;
}

/*logo*/
.header .logo{
    display: flex;
    margin: 0 auto;
    margin-left: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

/*---------- 會員註冊標題區 ----------*/

.contact {
    position: relative;
    margin-left: 87px;
    margin-top: 40px;
}

/*---------- 嚴選食材副標題區 ----------*/

.contact_title {
    color: #69AFAD;
    font-size: 28px;
    font-weight: bold;
    margin-left: 59px;
    padding-bottom: 16px;
}

.contact .liner {
    height: 4px;
    background-color: #69AFAD;
    display: block;
    bottom: 0;
    left: 60px;
}


/*----------shoppcar/ig/fb follow icon ----------*/

.media p {
    display: flex;

    /*橫向排列*/
}

.med_con {
    color: #354E52;
    text-align: top;
    line-height: 40px;
    margin-right: 5px;
}

.media .md_icon {
    border-radius: 50%;
    background-color: #354E52;
    color: #F9E5DA;
    line-height: 30px;
    width: 30px;
    height: 30px;
    /* margin: 0 5px 0 5px;
    border: 1px solid #354E52; */
    display: inline;
    text-align: center;
    font-size: 15px;
    margin-left: 8px;
}

.md_icon1 {
    color: #354E52;
    font-size: 16px;
    font-weight: 500;
    /* padding-left: 5px; */
}

.media {
    display: flex;
    /* padding-left: 15px; */
    float: right;
    transform: rotate(90DEG);
    z-index: 5;
    position: fixed;
    /*定位*/
    top: 580px;
    right: -20px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
}

/*about: (3)背景底圖*/
.backgroundimg {
  position: relative;
  z-index: -1;
}

.logoimg {
  position: absolute;
  width: 800px;
  transform: rotate(-10deg);
  opacity: 20%;
  /* outline: 3px solid red; */
  left: 767px;
  top: 37px;
  z-index: 0;
}

/*註冊表單區*/
.signupFrm {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: left;
}

.signupFrm .title{
  font-size: 250%;
  font-family: 'Playfair Display', serif;
  color: #3e403f;
}

.signupFrm h3{
    color: #BA5E62;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}
  

  .signupFrm .form {
    margin-top: 60px;
    /* background-color: white; */
    background-image: linear-gradient(-225deg, #f0bcbd 80%, #69AFAD 20%);
    opacity: 95px;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}
  
 .title {
    font-size: 50px;
    color: #3e403f;
    /* margin-top: 50px; */
  }

  .inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
  }

  /* 设置输入框的样式 */

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }
  
  /* 隐藏占位符文本（a）*/
  
  ::placeholder {
    color: transparent;
  }

  /* 设置文本标签的样式 */

.label {
    position: absolute;
    top: 10px;
    left: 15px;
    padding: 0 5px;
    border-radius: 5px;
    /* background-color: white; */
    font-weight: 400;
    color: #565656;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }

  .submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: #354E52;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
  }
  
  .submitBtn:hover {
    background-color: #69AFAD;
    border: 1px solid #354E52;
    font-weight: 700;
    /* transform: translateY(-2px); */
  }

  .input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: #354E52;
    background-color: #fff;
  }
  
  .input:focus {
    border: 2px solid #354E52;
  }

  .input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }

  .check_{
    width: 400px;
    font-size: 12px;
    color:#3e403f;
  }
  
/*footer調整*/
.colorBlock {
    margin-left: 10px;
    margin-top: 100px;
}