@import url(./reset.css);

/* * {
    outline: 1px solid red;
}  */

*{
    text-decoration: none;
}

/*設置不會有橫向卷軸*/
.wrapper {
    max-width: 1440px;
    overflow: hidden;
    position: relative;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    background-color: #F9E5DA;
    position: relative; /*.begelimg"的父相子絕*/
    align-items: center;
    overflow-x: hidden;
}

.header{
    max-width: 1440px;
    width: 100vw;
}

/*logo*/
.logo img {
    display: flex;
    margin: 0 auto;
    margin-left: 50px;
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 10;
}

video {
    width: 100%;
    margin-top: 40px;
    /* margin-top: 100px; */
}

/*Wrapper字*/
.wrapper {
    /* margin-left: 150px; */
}

.wrapper .title_1 h2 {
    display: flex;
    margin-top: 60px;
    color: #69AFAD;
    /* font-size: 6.77vw; */
    font-size: 74px;
    font-weight: 800;
    display: inline;
    margin-left: 60px;
}

.wrapper .title_1 h6 {
    display: flex;
    color: #E7A4A6;
    /* font-size: 1.25vw; */
    font-size: 24px;
    font-weight: 600;
    display: inline;
    margin-left: 10px;
    margin-top: 20px;
}

.wrapper .title_1 h1 {
    font-size: 130px;
    color: #EFA5A6;
    font-weight: 800;
    margin-left: 60px;
    margin-top: 30px;
}

.wrapper .title_1 h3 {
    font-size: 50px;
    color: #354E52;
    font-weight: 400;
    margin-bottom: 189px;
    position: relative;
    margin-left: 60px;
    margin-top: 30px;
}

.wrapper .color {
    position: absolute;
    top: 1265px;
    right: -50px;
    background-color: #69AFAD;
    opacity: 50%;
    width: 1352px;
    height: 240px;
    z-index: -1;
}

.wrapper .img_1 {
    margin-left: 236px;
    z-index: 10;
}

.Box {
    text-align: center;
    margin-left: 120px;
    margin-top: 40px;
}

.Box .small__img {
    cursor: pointer;
    margin-top: 50px;
    margin-left: 120px;
}

.about_hd {
    margin-left: 780px;
    margin-top: 50px;
}

.about_hd h3 {
    margin-top: 50px;
    font-size: 34px;
    color: #354E52;
    font-weight: 800;
    margin-left: -100px;
    line-height: 1.7;
}

.about_hd h6 {
    /* font-size: 1.46vw; */
    font-size: 28px;
    color: #354E52;
    margin-left: -90px;
    margin-top: 19px;
    letter-spacing: 1px;
}

.about_bd {
    background-color: #BA5E62;
    width: 700px;
    height: 290px;
    opacity: 80%;
    padding-top: 30px;
    padding-left: 35px;
    font-weight: 500;
    margin-left: 630px;
    position: relative;
    z-index: 10;
}

.about_hd h5 {
    /* font-size: 1.46vw; */
    font-size: 28px;
    color: #69AFAD;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -95px;
    margin-bottom: 20px;
    line-height: 1.7;
}

.about_bd h6 {
    font-size: 24px;
    color: #ba4b50;
}

.about_bd h5 {
    color: #3e0407;
    font-size: 28px;
    line-height: 10px;
    font-weight: 800;
    padding-top: 30px;
    letter-spacing: 2px;
}

.about_bd h6 {
    color: #F9E5DA;
    font-size: 22px;
    /* font-weight: 600; */
    margin-top: 20px;
}

.about_bd .bag01 {
    position: absolute;
    top: -27px;
    left: 560px;
    rotate: -30deg;
}

.about_bd .bag02 {
    position: absolute;
    top: 160px;
    left: 565px;
}

/*店名及ANGEL IN US BAUGL副標題*/

.words h3 {
    color: #BA5E62;
    font-size: 50px;
    font-weight: 800;
    width: 1304px;
    margin-top: 69px;
}

/*(2)背景大字*/
.main .words {
    position: absolute;
    top: -3216px;
    bottom: -1261px;
    left: 100px;
    z-index: 1;
    color: #FFF;
    font-weight: 750;
    /* font-size: 5.21vw; */
    font-size: 100px;
    line-height: 1.1;
    width: 100%;
    height: 1.9em;
    margin: auto;
    letter-spacing: -.025em;
    text-transform: uppercase;
    text-shadow: 7px 7px #ba5e62;
    opacity: 90%;
    padding-left: 20px;
}


/*背景底圖*/
.backgroundimg {
    position: relative;
}

.logoimg {
    position: absolute;
    width: 800px;
    transform: rotate(-10deg);
    opacity: 20%;
    left: -273px;
    top: -1150px;
}

.words h3 {
    font-weight: 800;
    color: #354E52;
    font-size: 50px;
    text-align: center;
    padding-left: 3.5rem;
    margin-top: -15px;
    margin-left: 160px;
}

/*---------- 關於我標題區 ----------*/

.abouttitle {
    color: #69AFAD;
    /* font-size: 28px; */
    font-size: 1.46vw;
    font-weight: bold;
    padding-bottom: 16px;
    margin-top: 40px;
}

.abouttitle .liner {
    height: 4px;
    background-color: #69AFAD;
    display: block;
    bottom: 0;
    left: 60px;
}

/*----------shoppcar/ig/fb follow icon ----------*/

.media p {
    display: flex;
    /*橫向排列*/
}

.med_con {
    color: #354E52;
    text-align: top;
    line-height: 40px;
    margin-right: 5px;
}

.media .md_icon {
    border-radius: 50%;
    background-color: #354E52;
    color: #F9E5DA;
    line-height: 30px;
    width: 30px;
    height: 30px;
    display: inline;
    text-align: center;
    font-size: 1.18vw;
    /* font-size: 15px; */
    margin-left: 8px;
}

.md_icon1 {
    color: #354E52;
    font-size: 0.83vw;
    /* font-size: 16px; */
    font-weight: 500;
}

.media {
    display: flex;
    float: right;
    transform: rotate(90DEG);
    z-index: 5;
    position: fixed;
    /*定位*/
    top: 550px;
    right: -30px;
    font-size: 0.73vw;
    /* font-size: 14px; */
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
}


/*跟蹤導航欄*/
#nav {
    width: 70vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 10em;
    display: flex;
    list-style: none;
    background: #f5f5f5;
    box-shadow: 20px 40px 40px #00000033;
    padding: 10px;
    z-index: 100;
}

#nav li a {
    position: relative;
    /* padding: 15px 50px; */
    padding: 5px 50px;
    font: 500 22px Tahoma;
    border: none;
    outline: none;
    color: #ba4b50;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    z-index: 3;
}

#nav li i {
    padding-right: 10px;
} 

.slide1,
.slide2 {
    position: absolute;
    display: inline-block;
    height: 40px;
    border-radius: 10em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}

.slide1 {
    /* background-color: #E7A4A6; */
    z-index: 2;
}

.slide2 {
    width: 1px;
    opacity: 20;
    background-color: #E7A4A6;
    z-index: 1;
    box-shadow: 0 0 20px #ffffffaa inset;
}
.logo img{
    margin-left: 0;
    width: 15vw;
    margin-top: -13px;
  }
.media .md_icon{
    line-height: 30px;
    font-size: 1.2vw;
    /* padding-top: 1px; */
}
.squeeze {
    transform: scale(0.9);
}

/*---------- search ----------*/

.search {
    display: flex;
    margin-top: 38px;
    z-index: 5;
    text-align: center;
    margin-left: 26px;
}

.search input {
    margin-left: 0px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #BA5E62;
    color: #F9E5DA;
    font-size: 0.99vw;
    /* font-size: 19px; */
    border: none;
    margin-right: 23px;
    text-align: center;
    line-height: 47px;
    box-shadow: inset 0 0 3px #3e0407;
}

.search button {
    background-color: #BA5E62;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    margin-right: 30px;
    box-shadow: inset 0 0 3px #3e0407;
}

.search button img {
    float: left;
    padding: 2px 0 0 5px;
}

.search i {
    color: #F9E5DA;
}

/*---------- begelimg ----------*/

.begelimg {
    position: absolute;
    top: -80px;
    right: -200px;
    /*原設定right: -450px;
    width: 800px;
    height: 800px;*/
    width: 800px;
    height: 800px;
    /* overflow: hidden; */
} 

@keyframes roll {
    0% {

        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

/*---------- 嚴選食材區 ----------*/

.contact {
    position: relative;
    margin-left: 60px;
    margin-top: 40px;
}

/*---------- 嚴選食材標題區 ----------*/

.contact_title {
    color: #69AFAD;
    font-size: 32px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 95px;
    padding-bottom: 16px;
    margin-top: 70px;
}

.contact .liner {
    height: 4px;
    background-color: #69AFAD;
    display: block;
    bottom: 0;
    left: 120px;
}

/*---------- 嚴選食材內容區 ----------*/

.contact_content {
    width: 1214px;
    height: 1373px;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(10, 1fr);    
    /* grid-template-rows: repeat(10, 1fr); */
    /* margin-left: 5.0rem;
    margin-top: 37px; */
    margin: 37px auto 0;
}

.bg_img {
    /* width: 570px;
    height: 550px; */
    width: 100%;
    height: 100%;
    grid-area: bg_img;
    grid-column: 2/8;
    grid-row: 2/4;
    background-image: url(../img/front/contact\ img01.jpg);
    background-repeat: no-repeat;
    height: 505px;
}

.bg_cont {
    /* width: 400px;
    height: 227px; */
    grid-area: bg_cont;
    grid-column: 7 /12;
    grid-row: 2/3;
    /* margin-right: 237px; */
}

.bg_hd {
    margin-top: 60px;
}

.cream_cont {
    /* margin-left: 327px; */
    grid-area: cream_cont;
    grid-column: 2/5;
    grid-row: 7/7;
    padding-left: 40px;
}

.contact_content h3 {
    /* margin-top: 80px;  */
    background-color: rgba(239, 165, 166, 0.3);
    color: rgba(186, 94, 98, 0.8);
    border-bottom: 1px solid rgba(239, 165, 166, 0.3);
    font-size: 24px;
    font-weight: 800;
    width: 450px;
    padding-left: 20px;
}

.contact_content p {
    /* padding-top: 20px; */
    color: #BA5E62;
    font-size: 20px;
    font-weight: 300;
    /* width: 341px; */
    padding: 30px 30px 0 30px;
    width: 350px;
    line-height: 1.3;
}

.cream_img {
    width: 85%;
    height: 88%;
    grid-area: cream_img;
    grid-column: 7/11;
    grid-row: 4/11;
    background-image: url(../img/front/contact\ img02.jpg);
    background-repeat: no-repeat;
}

.egg_img {
    width: 100%;
    /* height: 100%; */
    grid-area: egg_img;
    grid-column: 3/8;
    grid-row: 8/11;
    background-image: url(../img/front/contact\ img03.jpg);
    background-repeat: no-repeat;
    margin-top: 109px;
    height: 535px;
}

.egg_cont {
    grid-area: egg_cont;
    grid-column:6/10;
    grid-row: 9/10;
    padding-left: 92px;
    margin-top: 50px;
}

/*about與ig區分隔*/

.button1 {
    position: relative;
    width: 1098px;
    height: 100px;
    margin-top: 250px;
    margin-left: 133px;
}

.button1 .but_hd {
    top: 700px;
    left: 266px;
    color: #BA5E62;
    font-size: 50px;
    font-weight: 800;
    margin-left: 76px;
}

.but_liner {
    width: 1131px;
    margin-left: 70px;
    margin-top: -20px;
    border-bottom: 2px solid #BA5E62;
}

.but_follow {
    top: 715px;
    left: 284px;
    width: 669px;
    height: 73px;
    color: #BA5E62;
    font-size: 24px;
    font-weight: 500;
    padding-top: 10px;
    letter-spacing: 4px;
    margin: 0 333px 47px 0;
    padding-left: 135px;
}

.JS-big{
    width: 953px;
    height: 620px;
}

/*follow區*/
.follow {
    margin-top: 97px;
    display: flex;
    flex-direction: row;
    line-height: 1.6;

}

marquee {
    display: flex;
    overflow: hidden;
    gap: 1rem;
    position: relative;
    user-select: none;
}

.marquee-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 20%;
    gap: 1rem;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 1rem));
    }
}

.scroll {
    animation: scroll 20s linear infinite;
}

.follow .f_img1 {
    width: 252px;
    /* height: 135px; */
    object-fit: contain;
    border-radius: 10px;
    margin-left: 10px;
    border: 1px solid #BA5E62;
    background-repeat: no-repeat;
}

.follow .f_img2 {
    width: 252px;
    /* height: 135px; */
    object-fit: contain;
    border-radius: 10px;
    margin-left: 10px;
    border: 1px solid #BA5E62;
}

.follow .f_img3 {
    width: 252px;
    /* height: 135px; */
    object-fit: contain;
    border-radius: 10px;
    margin-left: 10px;
    border: 1px solid #BA5E62;
}

.follow .f_img4 {
    width: 252px;
    /* height: 135px; */
    object-fit: contain;
    border-radius: 10px;
    margin-left: 10px;
    border: 1px solid #BA5E62;
}

.follow .f_img5 {
    width: 252px;
    /* height: 135px; */
    object-fit: contain;
    border-radius: 20px;
    margin-left: 10px;
    border: 1px solid #BA5E62;
}

.follow .f_img6 {
    width: 252px;
    /* height: 135px; */
    object-fit: contain;
    border-radius: 10px;
    margin-left: 10px;
    border: 1px solid #BA5E62;
}

.footer_hd {
    background-color: #69AFAD;
    width: 100vw;
}

.colorBlock {
    height: 46px;
    display: block;
    margin-top: 100px;
}

/*footer區*/
footer {
    background-color: #69AFAD;
}

.footer_con {
    display: flex;
}

.top {
    display: flex;
    flex-direction: column;
    padding-left: 158px;
    display: inline-block;
}

.top h1 {
    font-size: 60px;
    font-weight: 800;
    color: #354E52;
    /* width: 416px;
    height: 44px; */
    padding-top: 40px;
    line-height: 1;
}

.top h2 {
    font-size: 50px;
    font-weight: 100;
    color: #354E52;
    padding-left: 19.5px;
    /* width: 377px;
    height: 36px; */
    padding-top: 20px;
    line-height: 1;
}

.mid h3 {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1;
    margin-top: 19px;
}

.mid_con h4 {
    /* height: 18px; */
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 400;
    width: 455px;
    border-bottom: 1px solid #354E52;
    padding: 10px 0 5px 10px;
}

.mid_con a {
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    text-align: center;
}

.mailicon {
    margin-right: 10px;
    margin-top: 5px;
    font-size: 15px;
}

.mailicon i {
    height: 20px;
    width: 20px;
    margin-top: 7px;
}

.mid_con {
    display: flex;
    /* margin-top: 15px; */
}


.mid {
    display: flex;
    /*並排*/
    flex-direction: column;
    /*直向往下排列*/
    padding-left: 166px;
    padding-top: 44px;

}

.bottom {
    margin-top: 15px;
    text-align: center;
    color: #ffffff;
}


/*-----------------------------MENU頁面-----------------------------*/

/*-----店標題-----*/
.bageli_title1 {
    margin-top: 201px;
    margin-right: 96px;
    margin-left: 333px;
    width: 1078px;
    margin-bottom: 40px;
}

/*-----標題:菜單-----*/
.bageli_title1 .hd {
    /* position: absolute;
    top: 0px;
    left: 0px; */
    width: 1050px;
    border-bottom: 1px solid #BA5E62;
    font-size: 50px;
    font-weight: 800;
    color: #ba5e62;
    line-height: 0.8;
}

.menu {
    width: 1210px;
    border-bottom: 4px solid #69AFAD;
    margin-bottom: 32px;
    margin-left: 130px;
}

.menutitle {
    color: #69AFAD;
    font-size: 28px;
    /* font-weight: 700px; */
    font-weight: bold;
    margin-left: 59px;
    padding-bottom: 21px;
    padding-top: 50px;
    /* border: 1px solid red; */
}

/*-----菜單第一張img-----*/

.menu img {
    /* margin-top: 58px; */
    width: 1284px;
    /* height: 580px; */
}

.menu_main {
    width: 1050px;
    height: 36px;
}

/*-----菜單主標副標-----*/
.maintitle {
    color: #69AFAD;
    font-size: 28px;
    font-weight: bold;
    margin-left: 59px;
}

.menu_main {
    width: 1050px;
    /* height: 36px; */
    margin-left: 130px;
    margin-top: 50px;
}

.menuimg {
    text-align: center;
}

.menuimg img {
    /* width: 1284px; */
    height: 580px;
}

.menu_main {
    width: 1050px;
    /* line-height: 1; */
    text-align: center;
    margin-bottom: 180px;
}

.menu_main h2 {
    /* height: 36px; */
    font-size: 50px;
    font-weight: 800;
    line-height: .75;
    /**/
    border-bottom: 1px solid #69AFAD;
}

.menu_main p {
    font-size: 28px;
    color: #354E52;
    font-weight: 800;
    margin-top: 50px;
    /* padding-bottom: 30px; */
    padding-left: 65px;
    /* padding-bottom: 20px; */
}

.main_con {
    width: 1210px;
    font-size: 28px;
    font-weight: 800;
    border-bottom: 4px solid #69AFAD;
    color: #69AFAD;
    /* padding-left: 136px; */
    margin-top: 50px;
    margin-left: 1px;
    padding-bottom: 29px;
    margin-left: 136px;
}

/*-----菜單套餐區說明-----*/
.meun_cont {
    padding-left: 195px;
    padding-top: 40px;
}

.meun_cont h2 {
    width: 150px;
    height: 45px;
    color: #ffffff;
    background-color: #354E52;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 45px;
    margin-top: 30px;

}

.meun_cont p {
    padding-top: 10px;
    font-size: 18px;
}

/*-----菜單九顆貝果區-----*/

.menu_content {
    /* width: 1214px; */
    /* height: 1373px; */
    display: grid;
    /* grid-gap: 2rem; */
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin-top: -150px;
    text-align: center;
    margin-right: 120px;
    padding-top: 30px;
}

.menu_content p {
    padding-top: 20px;
}

.menu_content .menu1_img {
    text-align: left;
    border-radius: 50%;
    height: 300px;
    grid-area: menu1_img;
    grid-column: 3/8;
    grid-row: 2/5;
    background-image: url(../img/meun/menu_prod001.svg);
    background-repeat: no-repeat;
}

.menu_content .menu1_bd {
    margin-top: 30px;
    color: #354E52;
    font-size: 18px;
    grid-area: menu1_bd;
    grid-column: 3/8;
    grid-row: 4/4;
}

.menu_content .menu2_img {
    border-radius: 50%;
    height: 300px;
    grid-area: menu2_img;
    grid-column: 10/15;
    grid-row: 3/5;
    background-image: url(../img/meun/menu_prod002.svg);
    background-repeat: no-repeat;
}

.menu_content .menu2_bd {
    margin-top: 30px;
    color: #354E52;
    font-size: 18px;
    grid-area: menu2_bd;
    grid-column: 10/15;
    grid-row: 5/6;
}

.menu_content .menu3_img {
    border-radius: 50%;
    height: 300px;
    grid-area: menu3_img;
    grid-column: 17/22;
    grid-row: 2/6;
    background-image: url(../img/meun/menu_prod003.svg);
    background-repeat: no-repeat;
}

.menu_content .menu3_bd {
    margin-top: 30px;
    color: #354E52;
    font-size: 18px;
    grid-area: menu3_bd;
    grid-column: 17/22;
    grid-row: 4/5;
}

.menu_content .menu4_img {
    height: 300px;
    border-radius: 50%;
    grid-area: menu4_img;
    grid-column: 3/8;
    grid-row: 6/8;
    background-image: url(../img/meun/menu_prod004.svg);
    background-repeat: no-repeat;
}

.menu_content .menu4_bd {
    margin-top: 30px;
    color: #354E52;
    font-size: 18px;
    grid-area: menu4_bd;
    grid-column: 3/8;
    grid-row: 8/9;
}

.menu_content .menu5_img {
    height: 300px;
    border-radius: 50%;
    grid-area: menu5_img;
    grid-column: 10/15;
    grid-row: 7/9;
    background-image: url(../img/meun/menu_prod005.svg);
    background-repeat: no-repeat;
}

.menu_content .menu5_bd {
    margin-top: 30px;
    color: #354E52;
    font-size: 18px;
    grid-area: menu5_bd;
    grid-column: 10/15;
    grid-row: 9/10;
}

.menu_content .menu6_img {
    height: 300px;
    border-radius: 50%;
    grid-area: menu6_img;
    grid-column: 17/22;
    grid-row: 6/8;
    background-image: url(../img/meun/menu_prod006.svg);
    background-repeat: no-repeat;
}

.menu_content .menu6_bd {
    margin-top: 30px;
    color: #354E52;
    font-size: 18px;
    grid-area: menu6_bd;
    grid-column: 17/22;
    grid-row: 8/9;
}

.menu_content .menu7_img {
    height: 300px;
    border-radius: 50%;
    grid-area: menu7_img;
    grid-column: 3/8;
    grid-row: 10/12;
    background-image: url(../img/meun/menu_prod007.svg);
    background-repeat: no-repeat;
}

.menu_content .menu7_bd {
    margin-top: 30px;
    color: #354E52;
    font-size: 18px;
    grid-area: menu7_bd;
    grid-column: 3/8;
    grid-row: 12/13;
}

.menu_content .menu8_img {
    height: 300px;
    border-radius: 50%;
    grid-area: menu8_img;
    grid-column: 10/15;
    grid-row: 11/13;
    background-image: url(../img/meun/menu_prod008.svg);
    background-repeat: no-repeat;
}

.menu_content .menu8_bd {
    margin-top: 30px;
    color: #354E52;
    font-size: 18px;
    grid-area: menu8_bd;
    grid-column: 10/15;
    grid-row: 13/14;
}

.menu_content .menu9_img {
    height: 300px;
    border-radius: 50%;
    grid-area: menu9_img;
    grid-column: 17/22;
    grid-row: 10/12;
    background-image: url(../img/meun/menu_prod009.svg);
    background-repeat: no-repeat;
}

.menu_content .menu9_bd {
    margin-top: 30px;
    color: #354E52;
    font-size: 18px;
    grid-area: menu9_bd;
    grid-column: 17/22;
    grid-row: 12/13;
}

.menu_content h2 {
    /* height: 45px; */
    background-color: #354E52;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300px;
    text-align: center;
}

/*-----cream cheese-----*/

.creamnav {
    /* max-width: 1440px; */
    width: 100vw;
    /* margin: 0 auto; */
}

.creamnav .img {
    width: 1374px;
    height: 404px;
    background-image: url(../img/meun/cream-cheese-top-optimize.jpg);
}

.creamtitle {
    /* display: flex; */
    width: 1001px;
    height: 240px;
    margin: 0 auto;
    /* justify-content: center; */
}

.creamnav h3 {
    margin-top: 60px;
}

.creamtitle ul {
    display: flex;
    width: 961px;
    justify-content: space-between;
    /*空間平分給子*/
    margin-top: 40px;
    margin-left: 50px;
}

.creamtitle li {
    width: 180px;
    height: 260px;
}

.creamtitle img {
    display: block;
    width: 160px;
    /* height: 160px; */
    margin-bottom: 20px;
}


.creamtitle ul h2 {
    width: 131px;
    height: 20px;
    color: #354E52;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    /* line-height: 20px; */
    margin-bottom: 20px;

    width: 160px;
    /*菜單外觀樣式*/
    height: 35px;
    color: #ffffff;
    background-color: #354E52;
}

.creamtitle ul p {
    width: 160px;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    /* margin-top: 20px; */
}

.settitle h3,
.bannertitle h3 {
    width: 1151px;
    height: 115px;
    border-bottom: 4px solid #69AFAD;
    font-size: 30px;
    font-weight: 800;
    color: #69afad;
    margin-left: 1px;
    margin-left: 136px;
}

.cream .cream_nav {
    background-image: url(../img/meun/creammenu_nev.jpg);
    height: 404px;
}

.cream img {
    width: 160px;
    height: 160px;
    margin-bottom: 30px;
}

.cream ul {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 114px;
    margin-right: 219px;
}

.cream li {
    padding-left: 107px;
    text-align: center;
    margin: 0 auto;
}

.settitle h2 {
    width: 200px;
    height: 40px;
    color: #ffffff;
    background-color: #354E52;
    font-size: 20px;
    font-weight: 400;
    margin: 0 auto;
    line-height: 45px;
    /* margin-top: 30px; */
    margin: 20px 35px 0 35px;
    font-size: 20px;
    display: inline-block;
}

.bannertitle>h2 {
    width: 131px;
    height: 45px;
    color: #ffffff;
    background-color: #354E52;
    margin-bottom: 85px;
    margin-top: 35px;
    margin-right: 22px;
    margin-left: 150px;
    padding-left: 35px;
    display: inline-block;
    line-height: 45px;
    font-size: 18px;
    font-weight: 600;
    font-size: 20px;
}

.bannerSet .banner_p {
    width: 250px;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}

.bannerSet h2 {
    /* width: 200px; */
    /* height: 70px; */
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    /* padding-left: 50px; */
    margin-left: 50px;

    width: 170px;
    /*菜單外觀樣式*/
    height: 35px;
    color: #F9E5DA;
    background-color: #354E52;

    margin-top: 20px;
    text-align: center;
}

.banner_img1 {
    background-image: url(../img/meun/menu_add01.png);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
}

.banner_img2 {
    background-image: url(../img/meun/menu_add02.png);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
}

.banner_img3 {
    background-image: url(../img/meun/menu_3.jpg);
    background-position: center center;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    /* outline: 1px red solid; */
}

.bannerSet ul {
    width: 1144px;
}

.bannerSet p {
    /* margin-left: 0px; */
    text-align: center;
}

.banner_img4 {
    background-image: url(../img/meun/add_img02.png);
    background-position: center center;
    border-radius: 50%;
    width: 250px;
    height: 259px;
}

.bannerSet li {
    margin-left: 80px;
}

.bannertitle p {
    display: inline-block;
    margin-left: 10px;
}

.settitle {
    padding-top: 120px;
    /* display: flex; */
    /* align-items:center; */
    /* justify-content: center; */
}

.settitle h2 {
    display: inline-block;
    margin-left: 157px;
}

.settitle p {
    display: inline-block;
    font-size: 20px;
    padding-right: 0;
}

/*-----cream cheese-----*/

.creamnav {
    width: 1374px;
    height: 950px;
    margin-top: 40px;
}

.craamnav img {
    display: block;
    width: 1374px;
    height: 404px;
    /* background-image: url(../img/meun/cream-cheese-top-optimize.jpg); */
}



.bannerSet ul {
    display: flex;
    justify-content: space-between;
}

.setThree {
    display: block;
    border-radius: 50%;
}

.settitle h3,
.creamnav h3,
.bannertitle h3 {
    width: 1151px;
    height: 85px;
    border-bottom: 4px solid #69AFAD;
    font-size: 30px;
    font-weight: 800;
    color: #69afad;
    margin-left: 1px;
    margin-left: 136px;
}

.cream .cream_nav {
    background-image: url(../img/meun/creammenu_nev.jpg);
    height: 404px;
}

.cream img {
    width: 160px;
    height: 160px;
    margin-bottom: 30px;
    text-align: center;
    margin: 0 auto;
}

.cream ul {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 114px;
    margin-right: 219px;
}

.cream li {
    padding-left: 107px;
    text-align: center;
    margin: 0 auto;
}


.settitle h2 {
    width: 200px;
    height: 40px;
    color: #ffffff;
    background-color: #354E52;
    font-size: 20px;
    font-weight: 400;
    /* text-align: center; */
    line-height: 45px;
    margin-top: 30px;
    /* margin-top: 20px; */
    font-size: 24px;
}


.settitle {
    padding-top: 120px;
}

.settitle h2 {
    display: inline-block;
    margin-left: 157px;
}

.settitle p {
    display: inline-block;
    font-size: 20px;
    /* padding-right: ; */
}


/*淺綠標題區*/
.banner {
    width: 1151px;
    height: 115px;
    /* border-bottom: 4px solid #69AFAD; */
    margin-left: 1px;
    margin-left: 136px;
}

.banner h3,
.bannertitle h3 {
    font-size: 28px;
    font-weight: 800;
    color: #69AFAD;
}

/*加購區內容*/

.banner ul {
    display: flex;
}

.bamm .banner_set h2 {
    font-weight: bold;
    font-size: 20px;
}

.banner_set p {
    font-size: 18px;
    color: #354E52;
    font-weight: 400;
}

.banner_set .set_3 img {
    padding-top: 100%;
}

/*底部*/
.colorBlock {
    padding-top: 30px;
    height: 76px;
    display: block;
    margin-top: 40px;
}


/*footer區*/
footer {
    background-color: #69AFAD;
}

.footer_con {
    display: flex;
}

.top {
    display: flex;
    flex-direction: column;
    padding-left: 158px;
    display: inline-block;
}

.top h1 {
    font-size: 60px;
    font-weight: 800;
    color: #354E52;
    /* width: 416px;
    height: 44px; */
    padding-top: 40px;
    line-height: 1;
}

.top h2 {
    font-size: 50px;
    font-weight: 100;
    color: #354E52;
    padding-left: 19.5px;
    /* width: 377px;
    height: 36px; */
    padding-top: 20px;
    line-height: 1;
}

.mid h3 {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1;
    margin-top: 19px;
}

.mid_con h4 {
    /* height: 18px; */
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 400;
    width: 265px;
    border-bottom: 1px solid #354E52;
    padding: 10px 0 5px 10px;
}

.mid_con a {
    /* display: inline; */
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    text-align: center;
}

.mid_con {
    display: flex;
    /* margin-top: 15px; */
}


.mid {
    display: flex;
    /*並排*/
    flex-direction: column;
    /*直向往下排列*/
    padding-left: 166px;
    padding-top: 44px;

}

.bottom {
    margin-top: 15px;
    text-align: center;
    color: #ffffff;
}


/*-----------------------------PickUp頁面-----------------------------*/

.shopName,
.Pick {
    width: 280px;
    /* height: 60px; */
    /* background-color: rgba(186, 94, 98, 0.2); */
    line-height: 60px;
    border-radius: 30px;
    margin-left: 180px;
    text-align: center;
    margin-bottom: 33px;
    font-size: 24px;
    font-weight: 800;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

.shopName>h2 {
    color: #BA5E62;
}

.Pick1 {
    width: 25%;
    height: 50px;
    margin-left: 230px;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 5px;
    background-color: #fff;
    color: #69AFAD;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    border: 1px solid #69AFAD;
    /* border: 1px solid #69AFAD; */
}

.Pick1 label {
    /*選單內*/
    /* border-radius: 5px; */
    background-color: #fff;
    color: #69AFAD;
    font-size: 20px;
    font-weight: 700;
    padding-left: 13%;
    line-height: 50px;
}

.Pick1 select {
    border-radius: 5px;
    background-color: #fff;
    color: #69AFAD;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    font-weight: 800;
    border: none;
    line-height: 40px;
}

#order_date {
    width: 50%;
    text-align: center;
}

.Pick2 {
    width: 25%;
    height: 50px;
    margin-left: 190px;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 5px;
    background-color: #69AFAD;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    border: 1px solid #fff;
}

.Pick2 label {
    /*選單內*/
    /* border-radius: 5px; */
    background-color: #69AFAD;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding-left: 13%;
    line-height: 50px;
}

.Pick2 select {
    width: 50%;
    border-radius: 5px;
    background-color: #69AFAD;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    font-weight: 800;
    border: none;
    line-height: 40px;
}

.orderTwo {
    display: flex;
}

.Pick p {
    font-size: 18px;
}

.pick_search {
    font-weight: 700;
    padding-top: 50px;
}

.pick_search ul {
    display: flex;
    align-items: center;
    margin-left: 190px;
}

.pick_search li {
    width: 120px;
    height: 55px;
}
/* .pick_search li:hover{
    background-color: #BA5E62;
    color: #fff;
} */
.pick_search a:hover{
    display: block;
    background-color: #BA5E62;
    color: #fff;
    border-radius: 20px 20px 0 0;
}
/* .pick_search li>a {
    color: #BA5E62;
    margin: 0 auto;
    font-size: 16px;
    text-decoration: none;
} */

.pick_search li {
    background-color: #fff;
    color: #BA5E62;
}

/* .pick_search li:nth-child(1) {
    background-color: #ba5e62;
} */

/* .pick_search li:nth-child(1) a {
    color: white;
} */

.pick_search li {
    width: 201px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-weight: 800;
    border-radius: 20px 20px 0 0;
    color: #BA5E62;
    border: 1px solid #BA5E62;
}
.pick_search a{
    color: #ba5e62;
}

.pick_search {
    margin-bottom: 40px;
}

.shop_name {
    margin-bottom: 195px;
}

.pick_search h1 {
    width: 760px;
    margin-left: 210px;
    border-bottom: 1px solid #ba5e62;
    font-size: 24px;
    font-weight: 800;
    color: #ba5e62;
    margin-top: 60px;
    text-align: left;
}

.pick_search p {
    margin-top: 24px;
    font-weight: 500;
    color: #354E52;
    text-align: center;
    margin-right: 180px;
}
.button{
    padding-top: 30px;
    top: 700px;
    left: 266px;
    color: #BA5E62;
    font-size: 50px;
    font-weight: 800;
    margin-left: 200px;
}

/*--標題--*/

.pickup_main h1 {
    width: 760px;
    margin-left: 210px;
    border-bottom: 1px solid #ba5e62;
    font-size: 24px;
    font-weight: 800;
    color: #ba5e62;
    margin-top: 62px;
    text-align: left;
}

.pickup_main h6 {
    margin-top: 24px;
    color: #354E52;
    text-align: left;
    margin-left: 220px;
    margin-right: 180px;
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 600;
}

/*-第一區pickup_main--*/

.begalMenu {
    display: flex;
    background-color: #FFF;
    border: 1px solid #BA5E62;
    border-radius: 20px;
    width: 470px;
    height: 150px;
}

.begalMenu img {
    width: 150px;
    height: 150px;
}

.begalMenu p {
    background-color: #fff;
    color: #ba5e62;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    position: absolute;
    margin-left: -1px;
    margin-top: -2px;
    line-height: 62px;
}

.begalMenu h5 {
    margin-left: 12px;
    margin-top: 50px;
    line-height: 38px;
    font-size: 24px;
    font-weight: 800;
}

.sectionMenu .add {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0px;
    left: 0px;
    border: 1px solid black;
}

/*第二個*/
.sectionMenu,
.begalMenu {
    display: flex;
}

.sectionMenu {
    max-width: 1000px;
    width: 100%;
    margin-left: 193px;
    justify-content: space-between;
}

.begalMenu:nth-child(2) {
    margin-top: 30px;
}

.begalMenu:nth-child(1) {
    margin-top: 30px;
}

/*第二個*/

.bega2Menu {
    display: flex;
    background-color: #FFF;
    border: 1px solid #BA5E62;
    border-radius: 20px;
    width: 470px;
    height: 150px;
    position: relative;
    /* margin-left: 240px; */
    display: block;
}

.bega2Menu img {
    width: 150px;
    height: 150px;
}

.bega2Menu p {
    background-color: #fff;
    color: #BA5E62;
    width: 50px;
    height: 51px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
    position: absolute;
    line-height: 51px;
}

.sectionMenu .add {
    position: absolute;
    top: 820px;
    left: 630px;
    color: black;
    border-left-color: #fff;
    border: 1px solid black;
    line-height: 33px;
}

.bega2Menu .add {
    background-color: #fff;
    color: black;
    position: absolute;
    top: 100px;
    left: 420px;
    border-radius: 50%;
    border: 1px solid black;
}

.sectionMenu,
.begalMenu {
    display: flex;
}

.sectionMenu {
    max-width: 1000px;
    width: 100%;
    margin-left: 200px;
    justify-content: space-between;
}

.begalMenu:nth-child(2) {
    margin-top: 30px;
}

.begalMenu:nth-child(1) {
    margin-top: 30px;
}

.pickup_main h6 {
    margin-top: 20px;
    color: #354E52;
    text-align: left;
    margin-left: 220px;
    margin-right: 180px;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
}

.main1 .h6 {
    margin-top: 24px;
    font-weight: 500;
    color: #354E52;
    text-align: right;
    margin-right: 180px;
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 600;
    font-weight: 600;
}

.pickup_main h5 {
    width: 317px;
    height: 90px;
    line-height: 25px;
    margin: 29px 12px 29px 12px;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    color: #354E52;
}

.main1 li:nth-child(2) {
    margin-left: 60px;
}

/*確認送出按鈕*/
/* .order_button2 {
    width: 160px;
    height: 50px;
    background-color: #BA5E62;
    color: #F9E5DA;
    filter: drop-shadow(3px 5px 4px rgba(52, 19, 19, 0.8));
    font-weight: 800;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    border-radius: 40px;
    position: relative;
    top: 60px;
    left: 620px;
    text-decoration: none;
} */
.order_button2 {
    line-height: 50px;
    margin-left: 100px;
    width: 280px;
    height: 50px;

    padding: 0 20px;
    background-color: #BA5E62;
    color: #fff;
    border-radius: 5px;

    outline: none;
    border: none;

    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;

    margin: 55px 550px;
    letter-spacing: 0.05em;

    font-size: 20px;
    font-weight: 400px;
}

.order_button2 a {
    color: #F9E5DA;
}

.order_button2 i {
    color: #F9E5DA;
    margin-left: 10px;
}

/*-----------------------------彈跳視窗-----------------------------*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.modal {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: none;
    width: 100%;
    height: 100%;
    background: #6a6a6aa6;

}

.dialog {
    position: absolute;
    z-index: 11;
    /* 將對話框水平置中。 */
    left: 50%;
    transform: translate(-50%, 0%);
    top: -100px;
    /* 設定對話框的起始位置。 對話框滑動的距離與時間會影響淡入效果，可以自行嘗試調整。 */
    opacity: 0;
    /* 將對話框設為透明。 */
    display: none;
    /* 隱藏對話框。 */
    width: 90%;
    /* 對話框寬度。 */
    background: white;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    line-height: 1.5em;
}

.title {
    text-align: center;
    padding: 8px;
    font-size: 20px;
    /* background: #1f7038ad; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* color: white; */
    /* border: 1px #f2e6e6 solid; */
    /* box-shadow: 0px 2px 8px 1px rgb(0 0 0 / 15%); */
}

.content {
    padding: 4px 8px;
}

.buttons {
    /* 加上這兩個CSS，可以讓button移動到對話框下方。 */
    /*position: absolute;
    right: 0px;
    */
    text-align: right;
    padding: 15px 50px;
}

.okBtn {
    display: inline-block;
    background: #092b68b3;
    color: #ffffffeb;
    border-radius: 8px;
    border: 1px solid white;
    padding: 8px 8px;
    cursor: pointer;
    width: 80px;
    height: 35px;
    text-align: center;
}

.cancelBtn {
    display: inline-block;
    background: #e90202ad;
    color: #ffffffeb;
    border-radius: 8px;
    border: 1px solid white;
    padding: 8px 8px;
    cursor: pointer;
    width: 80px;
    height: 35px;
    text-align: center;
}
.okBtn:hover{
    background:#ffffffeb;
    color: #092b68b3;
    width: 85px;
    height: 38px;
    border: 1px solid #092b68b3;
    font-weight: 600px;
}
.cancelBtn:hover{
    background:#ffffffeb;
    color: #e90202ad;
    width: 85px;
    height: 38px;
    border: 1px solid #e90202ad;
    font-weight: 600px;
}

/*彈跳視窗內容樣式*/

.dialog {
    background-color: #F9E5DA;
    border: 1px solid #BA5E62;
    opacity: 70%;
    width: 700px;
    border-radius: 50px;
    position: relative;
}

.dialog .arror {
    position: absolute;
    top: 10px;
    left: 600px;
    width: 40px;
    height: 40px;
    background-color: black;
    font-weight: 600;
    border-radius: 50%;
    font-size: 35px;
}

.dialog img {
    /* text-align: center; */
    width: 90%;
    border-radius: 45px 45px 0 0;
    /* border-bottom: 0px; */
}

.dialog .contentorder h2 {
    font-size: 20px;
    color: #354E52;
    font-weight: 800;
    margin-left: 53px;
    padding-top: 20px;
}

.contentorder h3 {
    font-size: 16px;
    color: #354E52;
    margin-left: 53px;
    /* padding-top: 20px; */
}

.contentorder h4 {
    font-size: 13px;
    color: #BA5E62;
    margin-left: 53px;
    /* padding-top: 20px; */
}

.contentorder .one {
    font-size: 14px;
    color: #354E52;
    margin-left: 53px;
    padding-bottom: 25px;
}

.bagel01 p {
    height: 40px;
    background-color: #fff;
    border: 1px solid #BCBCBC;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    flex-basis: 42%;
    box-sizing: border-box;
}

.bagel01 {
    display: flex;
    justify-content: space-around;
    height: 100px;
    flex-wrap: wrap;
}

.bagel02 p {
    height: 40px;
    background-color: #fff;
    border: 1px solid #BCBCBC;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    flex-basis: 42%;
    box-sizing: border-box;
}

.bagel02 {
    display: flex;
    justify-content: space-around;
    height: 150px;
    flex-wrap: wrap;
}


.bagel03 p {
    height: 40px;
    background-color: #fff;
    border: 1px solid #BCBCBC;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    flex-basis: 42%;
    box-sizing: border-box;
}

.bagel03 {
    display: flex;
    justify-content: space-around;
    height: 210px;
    flex-wrap: wrap;
}

form textarea {
    width: 600px;
    border-radius: 10px;
    margin-left: 53px;
}

.dialog_title{
    position: relative;
    display: flex;
}
.dialog_title img{
    width: 100%;
    height: 550px;
}

.contentorder .colse i{
    position: absolute;
    top: 600px;
    padding-right:50px;
    background-color: #F9E5DA;
    border: 2px solid #3e0407;
    width: 60px;
    height: 60px;
}

/*彈跳視窗叉叉*/

.dialog .exit{
    position: absolute;
    top: 9px;
    left: 625px;
    font-size: 32px;
    /* background-color: #fff; */
    color: #fff;
}
/*pickup 彈跳視窗頁面*/
/*彈跳視窗內容樣式*/
/* 
.dialog {
    background-color: #F9E5DA;
    border: 1px solid #BA5E62;
    opacity: 70%;
    width: 650px;
    border-radius: 50px;
    position: relative;
}

.dialog .arror {
    position: absolute;
    top: 10px;
    left: 600px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 50%;
    font-size: 35px;
}

.dialog img {
    text-align: center;
    width: 100%;
    border-radius: 50px;
}

.dialog .contentorder h2 {
    font-size: 20px;
    color: #354E52;
    font-weight: 800;
    margin-left: 53px;
    padding-top: 20px;
}

.contentorder h3 {
    font-size: 16px;
    color: #354E52;
    margin-left: 53px;
}

.contentorder h4 {
    font-size: 12px;
    color: #BA5E62;
    margin-left: 53px;
}

.contentorder .one {
    font-size: 12px;
    color: #354E52;
    margin-left: 53px;
    padding-bottom: 25px;
}

.bagel01 p {
    height: 40px;
    background-color: #fff;
    border: 1px solid #BCBCBC;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    flex-basis: 46%;
    box-sizing: border-box;
}

.bagel01 {
    display: flex;
    justify-content: space-around;
    height: 100px;
    flex-wrap: wrap;
}

.bagel02 p {
    height: 40px;
    background-color: #fff;
    border: 1px solid #BCBCBC;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    flex-basis: 46%;
    box-sizing: border-box;
}

.bagel02 {
    display: flex;
    justify-content: space-around;
    height: 150px;
    flex-wrap: wrap;
}

.bagel03 p {
    height: 40px;
    background-color: #fff;
    border: 1px solid #BCBCBC;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    flex-basis: 46%;
    box-sizing: border-box;
}

.bagel03 {
    display: flex;
    justify-content: space-around;
    height: 210px;
    flex-wrap: wrap;
}

form textarea {
    width: 536px;
    margin-left: 53px;
} */
