@import url(./reset.css);
/* @import url(./style.css); */
/* @import url(./teat1.css); */
/*---------------------------------------------------------*/

/* * {
    outline: 1px solid red;
}  */

/*設置不會有橫向卷軸*/
.wrapper {
    max-width: 1440px;
    overflow: hidden;
    position: relative;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    background-color: #F9E5DA;
    position: relative;
    /*.begelimg"的父相子絕*/
    align-items: center;
    overflow-x: hidden;
}

/*logo*/
.header .logo {
    display: flex;
    margin: 0 auto;
    margin-left: 50px;
    position: fixed;
    top: 0;
    left: 0;
}

video {
    margin-top: 120px;
}

/*Wrapper字*/
.wrapper {
    /* margin-left: 150px; */
}

.wrapper .title_1 h1 {
    display: flex;
    /* justify-content:flex-end;
    align-items: center; */
    margin-top: 30px;
    /* margin-left: 60px; */
    color: #69AFAD;
    font-size: 60px;
    font-weight: 800;
    display: inline;
    margin-left: 60px;
}

.wrapper .title_1 h2 {
    display: flex;
    color: #E7A4A6;
    font-size: 24px;
    font-weight: 600;
    display: inline;
    margin-left: 60px;
}

.wrapper .title_1 h3 {
    font-size: 130px;
    color: #EFA5A6;
    font-weight: 800;
    margin-left: 60px;
}

.wrapper .title_1 h4 {
    font-size: 45px;
    color: #354E52;
    font-weight: 400;
    margin-bottom: 189px;
    position: relative;
    margin-left: 60px;
}

.wrapper .color {
    position: absolute;
    top: 620px;
    right: 0;
    background-color: #69AFAD;
    opacity: 50%;
    width: 1352px;
    height: 240px;
    z-index: -1;
}

.wrapper .img_1 {
    margin-left: 236px;
    z-index: 10;
}

.Box {
    text-align: right;
    margin-right: 50px;
    margin-top: 40px;
}

.Box .small__img {
    cursor: pointer;
    margin-top: 50px;
    padding-right: 10px;
}

/* .Box .small__img .img:hover{
    border: 1px solid gold;
} */

/* .abouttitle .One_img img{
    max-width: 100%;
    height: 620px;
    margin-left: 401px;
    margin-top: 30px;
}

.abouttitle .Two_img{
    margin-left: 381px;
}

.abouttitle .Two_img{
    margin-top: 35px;
    margin-left: 780px;
} */

.about_hd {
    margin-left: 787px;
    margin-top: 50px;
}

.about_hd h2 {
    font-size: 30px;
    color: #354E52;
    font-weight: 800;
    margin-left: -170px;
    /* letter-spacing: 5px; */
}

.about_hd h3 {
    font-size: 20px;
    color: #354E52;
    /* font-weight: 800; */
    margin-left: -171px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.about_bd {
    background-color: #BA5E62;
    width: 643px;
    height: 240px;
    opacity: 40%;
    padding-top: 30px;
    padding-left: 60px;
    font-weight: 500;
    margin-left: 548px;
    position: relative;
}

.about_hd h4 {
    font-size: 28px;
    color: #69AFAD;
    font-weight: 800;
    margin-top: 10px;
    margin-left: -160px;
}

.about_bd h4 {
    font-size: 18px;
    color: #F9E5DA;
}

.about_bd h2 {
    color: #3e0407;
    font-size: 28px;
    line-height: 30px;
    font-weight: 800;
    letter-spacing: 2px;
}

.about_bd h3 {
    color: #F9E5DA;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.about_bd .bag01 {
    position: absolute;
    top: -27px;
    left: 570px;
}

.about_bd .bag02 {
    position: absolute;
    top: 140px;
    left: 570px;
}

/*店名及ANGEL IN US BAUGL副標題*/
.words h2 {
    color: #BA5E62;
    font-size: 50px;
    font-weight: 800;
    width: 1304px;
    border-bottom: 1px solid #BA5E62;
    margin-top: 69px;
}

/*(2)背景大字*/
.main .words {
    position: absolute;
    top: -3510px;
    bottom: -1141px;
    left: 100px;
    z-index: 1;
    color: #FFF;
    font-weight: 750;
    font-size: 100px;
    line-height: 1.1;
    width: 100%;
    height: 1.9em;
    margin: auto;
    letter-spacing: -.025em;
    text-transform: uppercase;
    text-shadow: 7px 7px #ba5e62;
    opacity: 90%;
    padding-left: 20px;
}

/*背景底圖*/
.backgroundimg {
    position: relative;
}

.logoimg {
    position: absolute;
    width: 800px;
    transform: rotate(-10deg);
    opacity: 20%;
    left: -163px;
    top: -1100px;
}

.words h3 {
    font-weight: 800;
    color: #354E52;
    font-size: 60px;
    text-align: right;
    padding-left: 3.5rem;
}

/*---------- 關於我標題區 ----------*/

.abouttitle {
    color: #69AFAD;
    font-size: 28px;
    font-weight: bold;
    margin-left: 59px;
    padding-bottom: 16px;
    margin-top: 40px;
}

.abouttitle .liner {
    height: 4px;
    background-color: #69AFAD;
    display: block;
    bottom: 0;
    left: 60px;
}

/*----------shoppcar/ig/fb follow icon ----------*/

.media p {
    display: flex;

    /*橫向排列*/
}

.med_con {
    color: #354E52;
    text-align: top;
    line-height: 40px;
    margin-right: 5px;
}

.media .md_icon {
    border-radius: 50%;
    background-color: #354E52;
    color: #F9E5DA;
    line-height: 30px;
    width: 30px;
    height: 30px;
    /* margin: 0 5px 0 5px;
    border: 1px solid #354E52; */
    display: inline;
    text-align: center;
    font-size: 15px;
    margin-left: 8px;
}

.md_icon1 {
    color: #354E52;
    font-size: 16px;
    font-weight: 500;
    /* padding-left: 5px; */
}

.media {
    display: flex;
    /* padding-left: 15px; */
    float: right;
    transform: rotate(90DEG);
    z-index: 5;
    position: fixed;
    /*定位*/
    top: 580px;
    right: -20px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
}

/*跟蹤導航欄*/

#nav {
    width: 69%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 10em;
    display: flex;
    list-style: none;
    background: #f5f5f5;
    box-shadow: 20px 40px 40px #00000033;
    padding: 10px;
    z-index: 1000;
}

#nav li a {
    position: relative;
    /* padding: 15px 50px; */
    padding: 5px 40px;
    font: 500 22px Tahoma;
    border: none;
    outline: none;
    color: #ba4b50;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    z-index: 3;
}

#nav li i {
    padding-right: 10px;
} 

.slide1,
.slide2 {
    position: absolute;
    display: inline-block;
    height: 40px;
    border-radius: 10em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}

.slide1 {
    /* background-color: #E7A4A6; */
    z-index: 2;
}

.slide2 {
    opacity: 20;
    background-color: #E7A4A6;
    z-index: 1;
    box-shadow: 0 0 20px #ffffffaa inset;
}

.squeeze {
    transform: scale(0.9);
}

/*---------- search ----------*/

.search {
    display: flex;
    margin-top: 38px;
    z-index: 5;
    text-align: center;
    margin-left: 26px;
}

.search input {
    margin-left: 0px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #BA5E62;
    color: #F9E5DA;
    font-size: 19px;
    border: none;
    margin-right: 23px;
    text-align: center;
    line-height: 47px;
    box-shadow: inset 0 0 3px #3e0407;
}

.search button {
    background-color: #BA5E62;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    margin-right: 30px;
    box-shadow: inset 0 0 3px #3e0407;
}

.search button img {
    float: left;
    padding: 2px 0 0 5px;
}

.search i {
    color: #F9E5DA;
}

/*---------- begelimg ----------*/

/* .begelimg {
    position: absolute;
    top: -60px;
    right: -450px;
    width: 800px;
    height: 800px;
    animation-name: roll;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-delay: .2s;
}

@keyframes roll {
    0% {

        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-10deg);
    }
} */

/*---------- 嚴選食材區 ----------*/

.contact {
    position: relative;
    margin-left: 87px;
    margin-top: 40px;
}

/*---------- 嚴選食材標題區 ----------*/

.contact_title {
    color: #69AFAD;
    font-size: 28px;
    font-weight: bold;
    margin-left: 59px;
    padding-bottom: 16px;
}

.contact .liner {
    height: 4px;
    background-color: #69AFAD;
    display: block;
    bottom: 0;
    left: 60px;
}

/*---------- 嚴選食材內容區 ----------*/

.contact_content {
    width: 1214px;
    height: 1373px;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin-left: 9.0rem;
    margin-top: 37px;
}

.bg_img {
    width: 570px;
    height: 550px;
    /*padding-left: 131px; */
    /* padding-right: 76px; */
    grid-area: bg_img;
    grid-column: 1/8;
    grid-row: 1/4;
    background-image: url(../img/front/contact\ img01.jpg);
    background-repeat: no-repeat;
    height: 505px;
}

.bg_cont {
    /* width: 400px;
    height: 227px; */
    grid-area: bg_cont;
    grid-column: 7/12;
    grid-row: 2/4;
    /* margin-right: 237px; */
}

/* .bg_hd {
    padding-top: 13px;
} */

.cream_cont {
    /* margin-left: 327px; */
    grid-area: cream_cont;
    grid-column: 2/5;
    grid-row: 5/7;
    padding-left: 40px;
}

/* .bg_cont{
    padding-right: 27px;
} */

.contact_content h3 {
    /* margin-top: 80px;  */
    background-color: rgba(239, 165, 166, 0.3);
    color: rgba(186, 94, 98, 0.8);
    border-bottom: 1px solid rgba(239, 165, 166, 0.3);
    font-size: 24px;
    font-weight: 800;
    width: 450px;
    padding-left: 30px;
}

.contact_content p {
    padding-top: 20px;
    color: #BA5E62;
    font-size: 20px;
    font-weight: 300;
    /* width: 341px; */
    padding: 30px 30px 0 30px;
    width: 350px;
}

.cream_img {
    grid-area: cream_img;
    grid-column: 7/10;
    grid-row: 5/11;
    background-image: url(../img/front/contact\ img02.jpg);
    background-repeat: no-repeat;
}

.egg_img {
    grid-area: egg_img;
    grid-column: 2/5;
    grid-row: 9/11;
    background-image: url(../img/front/contact\ img03.jpg);
    background-repeat: no-repeat;
    margin-top: 119px;
    height: 505px;
}

.egg_cont {
    grid-area: egg_cont;
    grid-column: 5/10;
    grid-row: 10/11;
    padding-left: 92px;
    margin-top: 50px;
}

/*about與ig區分隔*/

.button {
    position: relative;
    width: 1078px;
    height: 118px;
    margin-top: 58px;
    margin-left: 133px;
}

.button .but_hd {
    top: 677px;
    left: 266px;
    color: #BA5E62;
    font-size: 50px;
    font-weight: 800;
    margin-left: 116px;
    margin-left: 133px;
}

.but_liner {
    width: 1011px;
    margin-left: 130px;
    margin-top: -20px;
    border-bottom: 1px solid #BA5E62;
}

.but_follow {
    top: 715px;
    left: 284px;
    width: 669px;
    height: 73px;
    color: #BA5E62;
    font-size: 24px;
    font-weight: 500;
    padding-top: 20px;
    letter-spacing: 4px;
    margin: 0 333px 47px 0;
    padding-left: 135px;
}

/*follow區*/
.follow {
    width: 1321px;
    /* height: 279px; */
    margin-top: 47px;
}

.follow ul {
    position: relative;
    display: flex;
    flex-direction: row;
    line-height: 1.6;
}

/* .follow li {
    height: 280px;
} */

.follow .f_img1 {
    width: 190px;
    height: 279px;
    border-radius: 10px;
    border: 1px solid #BA5E62;
    background-image: url(../img/front/ig\ img01.jpeg);
    background-repeat: no-repeat;
}

.follow .f_img2 {
    width: 280px;
    height: 279px;
    border-radius: 20px;
    margin-left: 26px;
    border: 1px solid #BA5E62;
    background-image: url(../img/front/ig\ img02.jpg);
}

.follow .f_img3 {
    width: 280px;
    height: 279px;
    border-radius: 20px;
    margin-left: 26px;
    border: 1px solid #BA5E62;
    background-image: url(../img/front/ig\ img03.jpg);
}

.follow .f_img4 {
    width: 280px;
    height: 279px;
    border-radius: 20px;
    margin-left: 26px;
    border: 1px solid #BA5E62;
    background-image: url(../img/front/ig\ img04.jpg);
}

.follow .f_img5 {
    width: 280px;
    height: 279px;
    border-radius: 20px;
    margin-left: 26px;
    border: 1px solid #BA5E62;
    background-image: url(../img/front/ig\ img05.jpg);
}



.footer_hd {
    background-color: #69AFAD;
    width: 100vw;
    /* height: 231px; */
}

.colorBlock {
    height: 46px;
    display: block;
    margin-top: 100px;
}


/*footer區*/
footer {
    background-color: #69AFAD;
}

.footer_con {
    display: flex;
}

.top {
    display: flex;
    flex-direction: column;
    padding-left: 158px;
    display: inline-block;
}

.top h1 {
    font-size: 60px;
    font-weight: 800;
    color: #354E52;
    /* width: 416px;
    height: 44px; */
    padding-top: 40px;
    line-height: 1;
}

.top h2 {
    font-size: 50px;
    font-weight: 100;
    color: #354E52;
    padding-left: 19.5px;
    /* width: 377px;
    height: 36px; */
    padding-top: 20px;
    line-height: 1;
}

.mid h3 {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1;
    margin-top: 19px;
}

.mid_con h4 {
    /* height: 18px; */
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 400;
    width: 455px;
    border-bottom: 1px solid #354E52;
    padding: 10px 0 5px 10px;
}

.mid_con a {
    /* display: inline; */
    /* border-radius: 50%; */
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    text-align: center;
}

.mailicon {
    margin-right: 10px;
    margin-top: 5px;
    font-size: 15px;
}

.mailicon i {
    height: 20px;
    width: 20px;
    margin-top: 7px;
}

.mid_con {
    display: flex;
    /* margin-top: 15px; */
}


.mid {
    display: flex;
    /*並排*/
    flex-direction: column;
    /*直向往下排列*/
    padding-left: 166px;
    padding-top: 44px;

}

.bottom {
    margin-top: 15px;
    text-align: center;
    color: #ffffff;
}


/*-----------------------------PickUp頁面-----------------------------*/

.shopName,
.Pick {
    width: 280px;
    /* height: 60px; */
    /* background-color: rgba(186, 94, 98, 0.2); */
    line-height: 60px;
    border-radius: 30px;
    margin-left: 180px;
    text-align: center;
    margin-bottom: 33px;
    font-size: 24px;
    font-weight: 800;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

.shopName>h2 {
    color: #BA5E62;
}

/* .Pick h3{
    width: 463px;
    height: 50px;
    border-radius: 5px;
    background-color: #69AFAD;
    color: #69AFAD;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    padding-left: 65px;
    font-weight: 800;
    display: inline-block;
    border: 1px solid #fff;
} */

/* .Pick h4 {
    width: 463px;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
    color: #69AFAD;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    padding-left: 65px;
    font-weight: 800;
    border: 1px solid #69AFAD;
    display: inline-block;
} */



.Pick1 {
    width: 25%;
    height: 50px;
    margin-left: 190px;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 5px;
    background-color: #fff;
    color: #69AFAD;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    border: 1px solid #69AFAD;
}

.Pick1 label {
    /*選單內*/
    /* border-radius: 5px; */
    background-color: #fff;
    color: #69AFAD;
    font-size: 20px;
    font-weight: 500;
    padding-left: 13%;
    line-height: 50px;
}

.Pick1 select {
    border-radius: 5px;
    background-color: #fff;
    color: #69AFAD;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    font-weight: 800;
    border: none;
    line-height: 40px;
}

#order_date {
    width: 49%;
    text-align: center;
}

.Pick2 {
    width: 25%;
    height: 50px;
    margin-left: 190px;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 5px;
    background-color: #69AFAD;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    border: 1px solid #fff;
}

.Pick2 label {
    /*選單內*/
    /* border-radius: 5px; */
    background-color: #69AFAD;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 13%;
    line-height: 50px;
}

.Pick2 select {
    width: 50%;
    border-radius: 5px;
    background-color: #69AFAD;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    font-weight: 800;
    border: none;
    line-height: 40px;
}

.orderTwo {
    display: flex;
}

.Pick p {
    font-size: 18px;
}

.pick_search {
    font-weight: 700;
    padding-top: 20px;
}

.pick_search ul {
    display: flex;
    align-items: center;
    margin-left: 190px;
}

.pick_search li {
    width: 120px;
    height: 55px;
}

.pick_search li>a {
    /* background-color: #fff; */
    color: #BA5E62;
    margin: 0 auto;
    font-size: 16px;
}

.pick_search li {
    background-color: #fff;
}

.pick_search li:nth-child(1) {
    background-color: #ba5e62;
}

.pick_search li:nth-child(1) a {
    color: white;
}

.pick_search li {
    width: 180px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-weight: 800;
    border-radius: 20px 20px 0 0;
    border: 1px solid #BA5E62;
}

.pick_search {
    margin-bottom: 40px;
}

.shop_name {
    margin-bottom: 195px;
}

.pick_search h1 {
    width: 760px;
    margin-left: 210px;
    border-bottom: 1px solid #ba5e62;
    font-size: 24px;
    font-weight: 800;
    color: #ba5e62;
    margin-top: 60px;
    text-align: left;
}

.pick_search p {
    margin-top: 24px;
    font-weight: 500;
    color: #354E52;
    text-align: center;
    margin-right: 180px;
}

/*--標題--*/

.pickup_main h1 {
    width: 760px;
    margin-left: 210px;
    border-bottom: 1px solid #ba5e62;
    font-size: 24px;
    font-weight: 800;
    color: #ba5e62;
    margin-top: 62px;
    text-align: left;
}

.pickup_main h6 {
    margin-top: 24px;
    color: #354E52;
    text-align: left;
    margin-left: 220px;
    margin-right: 180px;
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 600;
}

/*-第一區pickup_main--*/

.begalMenu {
    display: flex;
    background-color: #FFF;
    border: 1px solid #BA5E62;
    border-radius: 20px;
    width: 470px;
    height: 150px;
}

.begalMenu img {
    width: 150px;
    height: 150px;
}

.begalMenu p {
    background-color: #fff;
    color: #ba5e62;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    position: absolute;
    margin-left: -1px;
    margin-top: -2px;
    line-height: 62px;
}

.begalMenu h5 {
    margin-left: 12px;
    margin-top: 50px;
    line-height: 38px;
    font-size: 24px;
    font-weight: 800;
}

.sectionMenu .add {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0px;
    left: 0px;
    border: 1px solid black;
}

/*第二個*/
.sectionMenu,
.begalMenu {
    display: flex;
}

.sectionMenu {
    max-width: 1000px;
    width: 100%;
    margin-left: 193px;
    justify-content: space-between;
}

.begalMenu:nth-child(2) {
    margin-top: 30px;
}

.begalMenu:nth-child(1) {
    margin-top: 30px;
}

/* .pickup_main{
    width: 1440vh;
}

.begalMenu, .bega2Menu {
    display: flex;
    background-color: #FFF;
    border: 1px solid #BA5E62;
    border-radius: 20px;
    width: 470px;
    height: 150px;
    position: relative;
    margin-left: 240px;
    display: block;
}

.begalMenu img, .bega2Menu img {
    width: 150px;
    height: 150px;
}

.begalMenu p, .bega2Menu p {
    background-color: #fff;
    color: #BA5E62;
    width: 50px;
    height: 51px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
    position: absolute;
    line-height: 51px;
}

.sectionMenu .add {
    position: absolute;
    top: 120px;
    left: 450px;
    color: black;
    border-left-color: #fff;
    border: 1px solid black;
}

.begalMenu .add, .bega2Menu .add{
    background-color: #fff;
    color: black;
    position: absolute;
    top: 100px;
    left: 420px;
    border-radius: 50%;
    border: 1px solid black;
}  */


/*第二個*/

.bega2Menu {
    display: flex;
    background-color: #FFF;
    border: 1px solid #BA5E62;
    border-radius: 20px;
    width: 470px;
    height: 150px;
    position: relative;
    /* margin-left: 240px; */
    display: block;
}

.bega2Menu img {
    width: 150px;
    height: 150px;
}

.bega2Menu p {
    background-color: #fff;
    color: #BA5E62;
    width: 50px;
    height: 51px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
    position: absolute;
    line-height: 51px;
}

.sectionMenu .add {
    position: absolute;
    top: 820px;
    left: 630px;
    color: black;
    border-left-color: #fff;
    border: 1px solid black;
    line-height: 33px;
}

.bega2Menu .add {
    background-color: #fff;
    color: black;
    position: absolute;
    top: 100px;
    left: 420px;
    border-radius: 50%;
    border: 1px solid black;
}

.sectionMenu,
.begalMenu {
    display: flex;
}

.sectionMenu {
    max-width: 1000px;
    width: 100%;
    margin-left: 193px;
    justify-content: space-between;
}

.begalMenu:nth-child(2) {
    margin-top: 30px;
}

.begalMenu:nth-child(1) {
    margin-top: 30px;
}



/*main 菜單*/
/* .main1,
.main2,
.main3,
.main4 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 210px;
}

/* .pickup_main li {
    display: flex;
    top: 0px;
    left: 0px;
    background-color: #FFF;
    border: 1px solid #BA5E62;
    border-radius: 20px;
    width: 470px;
    height: 150px;
} */
.pickup_main h6 {
    margin-top: 20px;
    color: #354E52;
    text-align: left;
    margin-left: 220px;
    margin-right: 180px;
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: 600;
}

.main1 .h6 {
    margin-top: 24px;
    font-weight: 500;
    color: #354E52;
    text-align: right;
    margin-right: 180px;
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 600;
    font-weight: 600;
}

.pickup_main h5 {
    width: 317px;
    height: 90px;
    line-height: 25px;
    margin: 29px 12px 29px 12px;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    color: #354E52;
}

.main1 li:nth-child(2) {
    margin-left: 60px;
}

/*確認送出按鈕*/
.order_button2 {
    width: 160px;
    height: 50px;
    background-color: #BA5E62;
    color: #F9E5DA;
    filter: drop-shadow(3px 5px 4px rgba(52, 19, 19, 0.8));
    font-weight: 800;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    border-radius: 40px;
    position: relative;
    top: 60px;
    left: 620px;
}

.order_button2 a {
    color: #F9E5DA;
}

.order_button2 i {
    color: #F9E5DA;
    margin-left: 10px;
}

/* #nav {
    margin-top: 30px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 10em;
    display: flex;
    list-style: none;
    background: #f5f5f5;
    box-shadow: 20px 40px 40px #00000033;
    padding: 10px;
    z-index: 1000;
}

#nav li a {
    position: relative;
    padding: 5px 50px;
    font: 500 22px Tahoma;
    border: none;
    outline: none;
    color: #ba4b50;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    z-index: 3;
}

.slide1,
.slide2 {
    position: absolute;
    display: inline-block;
    height: 40px;
    border-radius: 10em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}

.slide1 {
    background-color: #E7A4A6;
    z-index: 2;
}

.slide2 {
    opacity: 0;
    background-color: #F9E5DA;
    z-index: 1;
    box-shadow: 0 0 20px #ffffffaa inset;
}

.squeeze {
    transform: scale(0.9);
} */

/*-----------------------------彈跳視窗-----------------------------*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.modal {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: none;
    width: 100%;
    height: 100%;
    background: #6a6a6aa6;

}

.dialog {
    position: absolute;
    z-index: 11;
    /* 將對話框水平置中。 */
    left: 50%;
    transform: translate(-50%, 0%);
    top: -100px;
    /* 設定對話框的起始位置。 對話框滑動的距離與時間會影響淡入效果，可以自行嘗試調整。 */
    opacity: 0;
    /* 將對話框設為透明。 */
    display: none;
    /* 隱藏對話框。 */
    width: 90%;
    /* 對話框寬度。 */
    background: white;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    line-height: 1.7em;
}

.title {
    text-align: center;
    padding: 8px;
    font-size: 20px;
    background: #1f7038ad;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    border: 1px #f2e6e6 solid;
    box-shadow: 0px 2px 8px 1px rgb(0 0 0 / 15%);
}

.content {
    padding: 4px 8px;
}

.buttons {
    /* 加上這兩個CSS，可以讓button移動到對話框下方。 */
    /*position: absolute;
    right: 0px;
    */
    text-align: right;
    padding: 15px 30px;
}

.okBtn {
    display: inline-block;
    background: #092b68b3;
    color: #ffffffeb;
    border-radius: 8px;
    border: 1px solid white;
    padding: 4px 8px;
    cursor: pointer;
}

.cancelBtn {
    display: inline-block;
    background: #e90202ad;
    color: #ffffffeb;
    border-radius: 8px;
    border: 1px solid white;
    padding: 4px 8px;
    cursor: pointer;
}

/*彈跳視窗內容樣式*/

.dialog {
    background-color: #F9E5DA;
    border: 1px solid #BA5E62;
    opacity: 70%;
    width: 700px;
    border-radius: 50px;
    position: relative;
}

.dialog .arror {
    position: absolute;
    top: 10px;
    left: 600px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 50%;
    font-size: 35px;
}

.dialog img {
    /* text-align: center; */
    width: 90%;
    border-radius: 50px;
}

.dialog .contentorder h2 {
    font-size: 20px;
    color: #354E52;
    font-weight: 800;
    margin-left: 53px;
    padding-top: 20px;
}

.contentorder h3 {
    font-size: 16px;
    color: #354E52;
    margin-left: 53px;
    /* padding-top: 20px; */
}

.contentorder h4 {
    font-size: 13px;
    color: #BA5E62;
    margin-left: 53px;
    /* padding-top: 20px; */
}

.contentorder .one {
    font-size: 14px;
    color: #354E52;
    margin-left: 53px;
    padding-bottom: 25px;
}

.bagel01 p {
    height: 40px;
    background-color: #fff;
    border: 1px solid #BCBCBC;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    flex-basis: 46%;
    box-sizing: border-box;
}

.bagel01 {
    display: flex;
    justify-content: space-around;
    height: 100px;
    flex-wrap: wrap;
}


.bagel02 p {
    height: 40px;
    background-color: #fff;
    border: 1px solid #BCBCBC;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    flex-basis: 46%;
    box-sizing: border-box;
}

.bagel02 {
    display: flex;
    justify-content: space-around;
    height: 150px;
    flex-wrap: wrap;
}


.bagel03 p {
    height: 40px;
    background-color: #fff;
    border: 1px solid #BCBCBC;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    flex-basis: 46%;
    box-sizing: border-box;
}

.bagel03 {
    display: flex;
    justify-content: space-around;
    height: 210px;
    flex-wrap: wrap;
}

form textarea {
    width: 536px;
    margin-left: 53px;
}

.dialog_title{
    position: relative;
    display: flex;
}
.dialog_title img{
    width: 100%;
    height: 550px;
}

.contentorder .colse i{
    position: absolute;
    top: 600px;
    padding-right:50px;
    background-color: #F9E5DA;
    border: 2px solid #3e0407;
    width: 60px;
    height: 60px;
}