@import url(./reset.css);
@import url(./style.css);

/*---------------------------------------------------------*/

/*設置不會有橫向卷軸*/
.wrapper {
    max-width: 1440px;
    overflow: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    width: 1440px;
    margin: 0 auto;
    background-color: #F9E5DA;
    position: relative;
    /*.begelimg"的父相子絕*/
    align-items: center;
    /* overflow: hidden; */
}

/*----------shoppcar/ig/fb follow icon ----------*/

.media p {
    display: flex;

    /*橫向排列*/
}

.med_con {
    color: #354E52;
    text-align: top;
    line-height: 40px;
    margin-right: 10px;
}

.media .md_icon {
    border-radius: 50%;
    background-color: #354E52;
    color: #F9E5DA;
    line-height: 30px;
    width: 30px;
    height: 30px;
    /* margin: 0 5px 0 5px;
    border: 1px solid #354E52; */
    display: inline;
    text-align: center;
    font-size: 15px;
    margin-left: 6px;
}

.md_icon1 {
    color: #354E52;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
}

.media {
    display: flex;
    /* padding-left: 15px; */
    float: right;
    transform: rotate(90DEG);
    z-index: 5;
    position: fixed;
    /*定位*/
    top: 500px;
    right: -75px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    /* background-color: #69AFAD; */
}

.logo{
    display: flex;
    margin-left: 5px;
}

nav {
    display: flex;
    margin-left: 30px;
}

nav ul{
    padding-right: 60px;
    /* border: 1px solid #3e0407; */
}

/*---------- nav ----------*/

:root {
    font-size: 16px;
    --nav-item-width: 11rem;
    --nav-item-height: 2rem;
    --nav-item-padding: 1rem;
    --transition-speed: .7s;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Helvetica;
    /* background-color: #e2e8f0; */
    flex-direction: column;
    padding-right: 6px;
}

nav {
    margin-top: 35px;
    width: 2180px;
    height: 28px;
    background-color: #fff;
    padding: var(--nav-item-padding) 0;
    border-radius: var(--nav-item-height);
    position: relative;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
}

.nav ul li i{
    color:#ba5e62;
}

nav::after {
    content: '';
    display: block;
    width: calc(var(--nav-item-width) - var(--nav-item-padding));
    height: calc(var(--nav-item-height) + var(--nav-item-padding));
    background: #F9E5DA;
    position: absolute;
    top: 0px;
    left: 40px;
    margin: calc(var(--nav-item-padding) / 2);
    border-radius: var(--nav-item-height);
    transition: var(--transition-speed) all cubic-bezier(0.42, 0, 0.68, 1.35);
}


/* nav::after ul :nth-child(2){
    top: 10px;
    left: 120px;
} */
nav{
    padding-left: 60px;
}
nav ul {
    width: 80px;
    text-align: center;
    /* height: 30x; */
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    align-items: center;
    height: var(--nav-item-height);
    position: relative;
    top: -40px;
    left: -60px;
    bottom: 0px;
    z-index: 10;
}


nav ul li {
    /* padding: 0 25px; */
    font-size: 1.0rem;
    width: var(--nav-item-width);
    text-align: center;
    /* font-weight: 500; */
    /* margin: 80px; */
    /* margin-right: 30PX; */
    color: #3e0407;
    /* margin-left: 15px; */
}


nav ul li,
nav ul li i {
    display: flex;
}

nav ul li:hover {
    font-weight: 700;
    font-size: 24px;
    color: #BA5E62;
    cursor: pointer;
}

nav ul li i:hover {
    font-weight: 700;
    font-size: 24px;
    /* color: #ba5e62; */
    cursor: pointer;
}
/* nav ul li i:hover {
    font-weight: 700;
    font-size: 24px;
    color: #3e0407;
} */
nav label{
    font-size: 22px;
    /* padding-left: 15px; */
}

/* nav ul:hover :nth-child(2){
    font-weight: 600;
  } */

#nav-About:checked~nav::after {
    transform: translateX(0);
    top: -1px;
    left: 25px;

}

#nav-QA:checked~nav::after {
    transform: translateX(calc(var(--nav-item-width) * 1));
    top: -1px;
    left: 0px;

}

#nav-Menu:checked~nav::after {
    transform: translateX(calc(var(--nav-item-width) * 2));
    top: -1px;
    left: 0px;
}

#nav-Order:checked~nav::after {
    transform: translateX(calc(var(--nav-item-width) * 3));
    top: -1px;
    left: 12px;
}

#nav-LogIn:checked~nav::after {
    transform: translateX(calc(var(--nav-item-width) * 4));
    top: -1px;
    left: 20px;
}

/* 
  #nav-contact:checked ~ nav::after {
    transform: translateX(calc(var(--nav-item-width) * 5));
  } */

input[type="radio"] {
    display: none;
}

/* .content {
    width: calc(var(--nav-item-width) * 5);
    height: 400px;
    background-color: #fff;
    margin-top: var(--nav-item-height);
    border-radius: var(--nav-item-padding);
    display: flex;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, .1);
  }
   */
/* .content div {
    width: calc(var(--nav-item-width) * 4);
    background-color: #000;
    flex-shrink: 0;
    transition: var(--transition-speed) all cubic-bezier(0.42, 0, 0.68, 1.35);
  } */

#nav-About:checked~.content div {
    transform: translatex(0);
}

#nav-QA:checked~.content div {
    transform: translatex(calc(var(--nav-item-width) * 5 * -1));
}

#nav-Menu:checked~.content div {
    transform: translatex(calc(var(--nav-item-width) * 5 * -2));
}

#nav-Order:checked~.content div {
    transform: translatex(calc(var(--nav-item-width) * 5 * -3));
}

#nav-LogIn:checked~.content div {
    transform: translatex(calc(var(--nav-item-width) * 5 * -4));
}

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(200deg, #E7A4A6);
}

.wrapper{
    width: 60vw;
    height: 60px;
    line-height: 60px;
    background-color: #;
    box-shadow:  0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.wrapper nav{
    display: flex;
    position: relative;
}

.wrapper nav label{
    flex: 1;
    width: 100%;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.wrapper nav label a {
    position: relative;
    z-index: -1;
    color: #E7A4A6;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.wrapper nav label a i{
    font-style: 25px;
    margin: 0px 7px;
}

.wrapper nav input{
    display: none;
}

.wrapper nav .tab{
    position: absolute;
    height: 100%;
    width: 20%;
    left: 0px;
    bottom: 0px;
    background: linear-gradient(to right, #f09819, #ff5858); 
    border-radius: 50px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper nav #About:checked ~ label.About a ,
.wrapper nav #Menu:checked ~ label.Menu a ,
.wrapper nav #QA:checked ~ label.QA a ,
.wrapper nav #Ordert:checked ~ label.Order a ,
.wrapper nav #User:checked ~ label.User a {
    color: #fff;
    font-weight: 600;
    transition: 0.6s;
}
 
.wrapper nav #About:checked ~ .tab{
    left: 20%;
}

.wrapper nav #Menu:checked ~ .tab{
    left: 40%;
}

.wrapper nav #QA:checked ~ .tab{
    left: 60%;
}

.wrapper nav #Ordert:checked ~ .tab{
    left: 80%;
}

.wrapper nav #User:checked ~ .tab{
    left: 100%;
} */


/* .content div {
    width: calc(var(--nav-item-width) * 4);
    background-color: #000;
    flex-shrink: 0;
    transition: var(--transition-speed) all cubic-bezier(0.42, 0, 0.68, 1.35);
  } */

/* .content div:nth-child(1) {
    background-color: #22d3ee;
  }
  
  .content div:nth-child(2) {
    background-color: #4ade80;
  }
  
  .content div:nth-child(3) {
    background-color: #f472b6;
  }
  
  .content div:nth-child(4) {
    background-color: #facc15;
  } */

/* #nav-home:checked ~ .content div {
    transform: translatex(0);
  }
  
  #nav-products:checked ~ .content div {
    transform: translatex(calc(var(--nav-item-width) * 4 * -1));
  }
  
  #nav-about:checked ~ .content div {
    transform: translatex(calc(var(--nav-item-width) * 4 * -2));
  }
  
  #nav-contact:checked ~ .content div {
    transform: translatex(calc(var(--nav-item-width) * 4 * -3));
  } */


/* 
.nav {
    width: 1440px;
    display: flex;
    position: fixed;
    z-index: 5;
    top: 0;
}

.nav .logo {
    width: 130px;
    height: 130px;
    padding-left: 31px;
    margin-right: 70px;
}

a {
    text-decoration: none;
}

.nav ul {
    display: flex;
    margin-top: 40px;
    margin-right: 8px;
}


.nav ul li {
    font-size: 20px;
    display: flex;
    position: relative;
}

.nav ul li a {
    width: 115px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 47px;
    color: #BA5E62;
    background-color: #fff;
    border-radius: 30px;
    margin: 0 0 0 25px;
    font-size: 19px;
    text-align: center;
    padding: 0 15px 0 0;
    box-sizing: border-box;
}

.nav i {
    width: 32px;
    height: 32px;
    color: #BA5E62;
    line-height: 32px;
    display: inline-block;
}

.nav p {
    display: inline-block;
} */

/* ----------------------------------------------------- */
/* ------------------------------------------------------ */

/* .nav li nth(1)a:hover {
    font-size: bold;
    font-size: 20px;
    background-color: #F9E5DA;
    color: #BA5E62;
    margin-bottom: 1px solid #BA5E62;
    box-shadow: 0 5px #bA5E62;
    transform: translateY(4px);
} */


/*---------- search ----------*/

.search {
    display: flex;
    margin-top: 38px;
    z-index: 5;
    text-align: center;
    margin-left: 26px;
}

.search input {
    margin-left: 0px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #BA5E62;
    color: #F9E5DA;
    font-size: 19px;
    border: none;
    margin-right: 23px;
    text-align: center;
    line-height: 47px;
    box-shadow: inset 0 0 3px #3e0407;
}

.search button {
    background-color: #BA5E62;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    margin-right: 30px;
    box-shadow: inset 0 0 3px #3e0407;
}

.search button img {
    float: left;
    padding: 2px 0 0 5px;
}

.search i {
    color: #F9E5DA;
}

/*---------- begelimg ----------*/

.begelimg {
    position: absolute;
    top: -60px;
    right: -450px;
    width: 800px;
    height: 800px;
    animation-name: roll;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-delay: .2s;
}

@keyframes roll {
    0% {

        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

/*---------- title:文字 ----------*/
.subtitle {
    display: flex;
    /*設flex布局*/
    flex-direction: row;
    /*設主軸為水平方向*/
    width: 669px;
    height: 73px;
    color: #69AFAD;
    font-size: 60px;
    opacity: 90%;
    font-family: sans-serif;
    font-weight: 800;
    margin-left: 59px;
    margin-top: 30px;
}

.title .subtitle h2:not(:first-child) {
    padding-left: 33px;
}

.subtitle p {
    display: block;
    line-height: 73px;
    width: 223px;
    height: 14px;
    color: #E7A4A6;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 800;
    text-shadow: 1px;
    padding-bottom: 104px;
    /* padding-right: 33px; */
    margin-left: 18px;
    background-color: #ba5e62;
    clip-path: polygon(71% 0, 100% 24%, 100% 64%, 0 64%, 0 0);
    text-align: center;
    /* line-height: 1.6px; */
    /* margin: 0 auto;*/
}

.maintitle h1 {
    width: 901px;
    height: 95px;
    font-size: 130px;
    color: #E7A4A6;
    opacity: 90%;
    font-weight: bold;
    margin-top: 30px;
    padding-left: 60px;
    font-weight: 800;
}

.maintitle p {
    width: 1008px;
    height: 35px;
    font-size: 45px;
    color: #354E52;
    font-weight: light;
    padding-top: 82px;
    padding-left: 60px;
    letter-spacing: 1.8px;
    font-weight: 600;
}


/*---------- title:照片 ----------*/

.banner div {
    position: relative;
    width: 1352px;
    height: 240px;
    background-color: #69AFAD;
    opacity: 50%;
    margin-top: 183px;
    margin-left: 89px;
}

.banner img {
    position: absolute;
    margin-top: -233px;
    margin-left: 217px;
    width: 1016px;
    height: 280px;
}

/*---------- about ----------*/

.about {
    position: relative;
    margin-left: 87px;
    margin-top: 80px;
}

/*---------- about標題區 ----------*/

.abouttitle {
    color: #69AFAD;
    font-size: 28px;
    /* font-weight: 700px; */
    font-weight: bold;
    margin-left: 59px;
    padding-bottom: 21px;
    padding-top: 120px;
    /* border: 1px solid red; */
}

.about .liner {
    position: absolute;
    width: 1210px;
    height: 4px;
    background-color: #69AFAD;
    display: block;
    bottom: 0;
    left: 60px;
}

.bar {
    margin-bottom: 1200px;
    width: 880px;
    height: 890px;
}

.bar img {
    width: 94px;
    height: 62px;

}

/*about: (1)右大圖*/
.aboutimg img {
    width: 928px;
    height: 620px;
    margin-top: 36px;
    margin-left: 379px;
    opacity: 80%;
}

/*about: (2)背景大字*/
.words {
    position: absolute;
    top: -2850px;
    bottom: -1131px;
    left: 120px;
    z-index: 1;
    color: #FFF;
    font-weight: 750;
    font-size: 100px;
    line-height: 1.1;
    width: 100%;
    height: 1.9em;
    margin: auto;
    letter-spacing: -.025em;
    text-transform: uppercase;
    text-shadow: 7px 7px #ba5e62;
    opacity: 90%;
    padding-left: 20px;
}

/*about: (3)背景底圖*/

.backgroundimg {
    position: relative;
}

.logoimg {
    position: absolute;
    width: 800px;
    transform: rotate(-10deg);
    opacity: 20%;
    /* outline: 3px solid red; */
    left: -73px;
    top: -193px;
}

/*about: (4)img bar*/
.bar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 537px;
    height: 62px;
    top: 2227px;
    right: 173px;
}

/* .about-bottom {
    margin-left: 677px;
} */

/*about: (5)img bar*/
.about-bottom {
    width: 643px;
    height: 445px;
}

.frame h2 {
    display: flex;
    position: absolute;
    color: #354E52;
    font-size: 28px;
    font-weight: 900;
    top: 2313px;
    right: 359px;
}

.frame p {
    display: flex;
    position: absolute;
    color: #354E52;
    font-size: 26px;
    font-weight: 400;
    top: 2415px;
    right: 114px;
    line-height: 1.8;
    letter-spacing: -.025em;
    letter-spacing: 1.8px
}

.frame h3 {
    display: flex;
    position: absolute;
    color: #69AFAD;
    font-size: 28px;
    font-weight: 900;
    top: 2405px;
    right: 367px;
    line-height: 1.3;
    margin-top: 60px;
}

.principle {
    width: 643px;
    height: 240px;
    background-color: #BA5E62;
    opacity: 0.5;
    margin-left: 677px;
    margin-top: -400px;
    right: 120px;
    top: 2970px;
    position: absolute;
    padding-left: 81px;
    padding-top: 18px;
}

.principle p {
    font-size: 18px;
    color: #F9E5DA;
    letter-spacing: 2px;
    /* font-weight: 300; */
    margin-bottom: 8px;
}

.principle h2 {
    font-size: 28px;
    /* color: #BA5E62; */
    color: #3e0407;
    font-weight: bold;
    margin-bottom: 8px;
}

.principle h3 {
    font-size: 20px;
    color: #F9E5DA;
    /* font-weight: 400px; */
    letter-spacing: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
}

.principle .principle_bd {
    position: relative;
}

.principle img {
    position: absolute;
    width: 156px;
    height: 126px;
    top: 125px;
    left: 450px;
    transform: rotate(12deg);
}

.principle .bagelimgs {
    position: absolute;
    width: 115px;
    height: 102px;
    top: -40px;
    left: 470px;
    transform: rotate(-30deg);
}

/*---------- 店名分隔線區域區 ----------*/

.bageli_title {
    position: relative;
    width: 1078px;
    /* height: 118px; */
    top: 640px;
    /*top: 677px; */
    left: 266px;
    margin-bottom: 40px;
}

.bageli_title .hd {
    position: absolute;
    top: 0px;
    left: -14px;
    color: #BA5E62;
    font-size: 50px;
    font-weight: 800;
}

.bageli_title .liner {
    position: absolute;
    top: 60px;
    left: -10px;
    width: 1100px;
    height: 1px;
    background-color: #BA5E62;
    opacity: 80%;
}

.bageli_title .bd {
    display: flex;
    /*設flex布局*/
    flex-direction: row;
    /*設主軸為水平方向*/
    position: absolute;
    bottom: -110px;
    right: 40px;
    width: 669px;
    height: 73px;
    color: #354E52;
    font-size: 60px;
    font-weight: 800;
}

.bageli_title h2:not(:nth-child(1)) {
    padding-left: 33px;

}

/*-----------------------------PickUp頁面-----------------------------*/

.shopName,
.Pick {
    width: 250px;
    height: 60px;
    background-color: rgba(186, 94, 98, 0.2);
    line-height: 60px;
    border-radius: 30px;
    margin-left: 180px;
    text-align: center;
    margin-bottom: 33px;
    font-size: 18px;
    font-weight: 800;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.shopName>h2 {
    color: #BA5E62;
}

.Pick h2>a {
    color: #BA5E62;
}


.Pick {
    position: relative;
}

.Pick h3 {
    width: 252px;
    height: 82px;
    border-radius: 40px;
    background-color: #fff;
    color: #69AFAD;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    line-height: 40px;
    padding-left: 30px;
    position: absolute;
    top: -20px;
    left: 680px;
    z-index: 0;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #69AFAD;
}

.Pick h3 a {
    color: #69AFAD;
    margin-left: 75px;

    /* font-weight: 800; */
}

.Pick h4 {
    width: 242px;
    height: 82px;
    border-radius: 40px;
    background-color: #69AFAD;
    color: #ffff;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    line-height: 40px;
    padding-left: 20px;
    border: 1x solid #ffff;
    position: absolute;
    top: -20px;
    left: 890px;
}

.Pick h4 a {
    color: #ffff;
}

.Pick p {
    font-size: 18px;
}

.pick_search {
    font-weight: 700;
    padding-top: 20px;
}

.pick_search ul {
    display: flex;
    align-items: center;
    margin-left: 190px;
}

.pick_search li {
    width: 120px;
    height: 55px;
}

.pick_search li>a {
    /* background-color: #fff; */
    color: #BA5E62;
    margin: 0 auto;
    font-size: 16px;
}

.pick_search li {
    background-color: #fff;
}

.pick_search li:nth-child(1) {
    background-color: #ba5e62;
}

.pick_search li:nth-child(1) a {
    color: white;
}

/* 
.pick_search li a:nth-child(1) {
    background-color: #BA5E62;
    color: #fff;
}

.pick_search li:nth-child(1) {
    background-color: #BA5E62;
}

.pick_search a:not(:nth-child(1)) {
    color: #BA5E62;
}


.pick_search li>a:not(:first-child) {
    background-color: #fff;
    color: #BA5E62;
} */


.pick_search li {
    width: 180px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-weight: 800;
    border-radius: 20px 20px 0 0;
    border: 1px solid #BA5E62;
    /* background-color: #fff; */
}

.pick_search {
    margin-bottom: 40px;
}

.shop_name {
    margin-bottom: 195px;
}

.pick_search h1 {
    width: 760px;
    margin-left: 210px;
    border-bottom: 1px solid #ba5e62;
    font-size: 24px;
    font-weight: 800;
    color: #ba5e62;
    margin-top: 60px;
    text-align: left;
}

.pick_search p {
    margin-top: 24px;
    font-weight: 500;
    color: #354E52;
    text-align: center;
    margin-right: 180px;
}

/*--標題--*/

.pickup_main h1 {
    width: 760px;
    margin-left: 210px;
    border-bottom: 1px solid #ba5e62;
    font-size: 24px;
    font-weight: 800;
    color: #ba5e62;
    margin-top: 62px;
    text-align: left;
}

.pickup_main h6 {
    margin-top: 24px;
    color: #354E52;
    text-align: left;
    margin-left: 220px;
    margin-right: 180px;
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 600;
}