*{
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  background-color: #F9E5DA;
  position: relative; 
  align-items: center;
  overflow-x: hidden;
}

/* --------------- 斷點 1920 --------------- */
@media screen and (max-width: 1920px){
  .wrapper{
    margin: 0 auto;
  }
  .bage[alt]{
    width: 900px;
  }
  .begelimg {
    position: absolute;
    top: 40px;
    right: -330px;
  }  
  div{
    width: 100%;
  }

    /*測軸*/
  .med_con {
    color: #354E52;
    text-align: top;
  }
  .media {
    display: flex;
    z-index: 5;
    position: fixed;
    flex-direction: column-reverse;
    top: 750px;
    right: 244px;
  }
  .media .md_icon {
    line-height: 18px;
    padding-top: 5px;
    padding-left: 7px;
    font-size: 1.2vw;
    width: 37px;
    height: 37px;
    margin-left: 7px;
    border-radius: 50%;
    background-color: #354E52;
    color: #fff;
    margin-top: 12px;
  }

 /*導航欄*/
  #nav {
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    top: 11px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 2em;     /*---------------------修正*/
    display: flex;
    list-style: none;
    background: #f5f5f5;
    box-shadow: 15px 15px 20px #00000033;
    padding: 9px;
    z-index: 100;
}
  #nav li a {
    position: relative;
    padding: 3px 26px;
    font: 600 19px Tahoma;     
    border: none;
    outline: none;
    color: #ba4b50;
    display: inline-block;
    text-decoration: none;
    z-index: 3;
  }
  #nav li {
    padding-right: 55px;    
    font-size: 20px;
  }
  /*logo*/
/*-----------------------------------------------------修正*/
.logo img {
  display: flex;
  margin: 0 auto;
  margin-top: -235px;
  position: fixed;
  top: 220px;
  left: 120px;
  z-index: 10;
  margin-left: 80px;
  width: 7vw; /*調整*/
}

} 


/* --------------- 斷點 1440 --------------- */
@media screen and (max-width: 1440px){
  div{
    width: 100%;
  }
  
  .bage[alt]{
    width: 560px;
  }
  .begelimg {
  position: absolute;
  top: 160px;
  right: -400px;
  } 
  .med_con {
    color: #354E52;
    text-align: top;
  }
  .media {
    display: flex;
    z-index: 5;
    position: fixed;
    flex-direction: column-reverse;
  }
  .media .md_icon {
    line-height: 18px;
    padding-top: -2px;
    font-size: 1.2vw;
    width: 25px;
    height: 25px;
    margin-left: 12px;
    border-radius: 50%;
    background-color: #354E52;
    color: #fff;
    margin-top: 12px;
  }

  /*導航攔*/
  .nav_icon ul{
    /* display: flex; */
    /* flex-direction: row; */
    margin-left: 93%;
    padding-top: 30px;
  }
  .nav_icon ul :nth-child(2){
      margin-left: 30px;
  }
  nav{
      display: flex;
      max-width: 100vw;
      width: 100%;
      justify-content: space-between;
      position: fixed;
      z-index: 100;
      /* flex-direction: row; */
  }
  .nav_icon li>a{
      font-size: 24px;
      margin-right: 10px;
      color: #ba4b50;
      /* background: #f5f5f5; */
      /* box-shadow: 15px 15px 20px #00000033; */
      border-radius: 50%;
      position: fixed;
      z-index: 100;
      margin-top: -7px;
  }

  /*測軸*/
  .med_con {
    color: #354E52;
    text-align: top;
  }
  .media {
    display: flex;
    z-index: 5;
    position: fixed;
    flex-direction: column-reverse;
    top: 520px;
    right: 4px;
  }
  .media .md_icon {
    font-size: 1.2vw;
    width: 27px;
    height: 27px;
    margin-left: 12px;
    border-radius: 50%;
    background-color: #354E52;
    color: #fff;
    padding-left: 6px;
    padding-top: 4px;
  }

  /*跟蹤導航欄*/
  #nav {
    width: 68vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 3px;
    position: fixed;
    top: 11px;
    left: 57%;
    transform: translateX(-50%);
    border: none;
    border-radius: 2em;     /*---------------------修正*/
    display: flex;
    list-style: none;
    background: #f5f5f5;
    box-shadow: 15px 15px 20px #00000033;
    padding: 9px;
    z-index: 100;
  }

  #nav li a {                     /*---------------------------------------修正*/
    position: relative;
    padding: 3px 26px;
    font: 600 19px Tahoma;     
    border: none;
    outline: none;
    color: #ba4b50;
    display: inline-block;
    text-decoration: none;
    z-index: 3;
  }

  #nav li i {
    padding-right: 7px;        /*---------------------------------------修正*/
  } 

  .slide1,
  .slide2 {
    position: absolute;
    display: inline-block;
    height: 35px;             /*---------------------------------------修正*/
    border-radius: 10em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
  }
  .slide2 {
    width: 1px;
    opacity: 20;
    background-color: #E7A4A6;
    z-index: 1;
    box-shadow: 0 0 20px #ffffffaa inset;
  }

  .squeeze {
    transform: scale(0.9);
  }
  /*貝果*/
  .bage[alt]{
    width: 560px;
  }
  .begelimg {
    position: absolute;
    top: 160px;
    right: -400px;
  } 
}

/* --------------- 斷點 1280 --------------- */
@media screen and (max-width: 1280px){
  div{
    width: 100%;
  }
  #nav li a {
    padding: 5px 20px;
    font: 800 17px Tahoma;
  }
  /*貝果滾*/
  .bage[alt]{
    width: 560px;
  }
  .begelimg {
    position: absolute;
    top: 90px;
    right: -400px;
  } 
  .about_hd h3{
    margin-left: -225px;
  }
  .about_hd h6{
    margin-left: -225px;
  }
  .about_hd h5{
    margin-left: -225px;
  }
  .about_bd{
    margin-left: 450px;
  }
  .words h3 {
    margin-left: 70px;
  }
  .contact_title{
    font-size: 2.5vw;
  }
  .contact_content p{
    font-size: 18px;
  }
  .contact_content h3{
    font-size: 24px;
  }
  .bg_cont{
    grid-column: 7/12;
  }
  .main .words{
    left: -10px;
  }
  .cream_img {
    grid-column: 7/11;
  }
  .cream_cont {
    grid-column: 2/5;
  }
  .media{
    top: 470px;
    right: 4px;
  }
  
}
/* --------------- 斷點 1255 --------------- */
@media screen and (max-width: 1255px){
  div{
  width: 100%;
  }
  #nav{
    width: 79vw;
  }
  #nav li a {
  padding: 5px 36px;
  font: 700 22px Tahoma;
  }
  .logoimg{
    left: -273px;
    top: -1150px;
  }
  .begelimg {
  position: absolute;
  top:40px;
  right: -460px;
  }
  .about_hd h3{
  margin-left: -225px;
  }
  .about_hd h6{
  margin-left: -225px;
  }
  .about_hd h5{
  margin-left: -225px;
  }
  .about_bd{
  margin-left: 450px;
  }
  .words h3 {
  margin-left: 150px;
  font-size: 1.6vw;
  }
  .contact_title{
  font-size: 2.5vw;
  }
  .contact_content p{
  font-size: 22px;
  }
  .contact_content h3{
  font-size: 24px;
  }
  .bg_cont{
  grid-column: 7/12;
  }
  .main .words{
  left: -10px;
  }
  .cream_img {
  grid-column: 7/10;
  }
  .cream_cont {
  grid-column: 2/5;
  }
  .words h3{
  font-size: 3.8vw;
  margin-top: -15px;
  }
  .main .words{
    top:-3280px;
    right: -20px;
  }
  .marquee{
  top: 40px;
  }
  /*測軸*/
  .media .md_icon{
    line-height: 18px;
    padding-top: 5px;
    font-size: 1.3vw;
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }
  .media{
    font-size: 0.73vw;
    top: 550px;
    right: -30px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
  }
  /*follow欄位*/
  .media{
    top: 470px;
    right: 4px;
  }
  .media .md_icon{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    padding-left: 2px;
  }

}

/* --------------- 斷點 1100 --------------- */
  @media screen and (max-width: 1100px){
  div{
    width: 100%;
  }
  #nav{
    width: 70vw;
    top: 10px;
    left: 57%;
  }
  #nav li a {
  padding: 5px 18px;
  font: 700 16px Tahoma;
  }
  #nav li{
    padding-right: 45px;
    }
  .logoimg{
    left: -273px;
    top: -1150px;
  }
  .begelimg {
  position: absolute;
  top:40px;
  right: -460px;
  }
  .logo img{
    top: 230px;
    left: 60px;
  }
  /*測軸*/
  .media{
    margin-left: 590px;
    left: 464px;
  }
  .media .md_icon{
    line-height: 18px;
    padding-top: 5px;
    font-size: 1.3vw;
  }
  /*貝果滾*/
  .bage[alt]{
    width: 500px;
  }
  .begelimg {
    position: absolute;
    top: 50px;
    right: -505px;
  }
  .about_hd h6{
    margin-left: -265px;
  }
  .about_bd{
    margin-left: 390px;
  }
  .about_bd {
    padding-top: 10px;
  }
  .words h3{
    margin-left: 50px;
    font-size: 40px;
  }
  .button .but_hd{
    font-size: 70px;
  }
  .words h3{
    margin-top: -15px;
  }
  .button {
    margin-top:-220px;
  }
  .contact_title{
    margin-top: 110px;
  }
  .main .words{
    left: 50px;
    top: -3540px;
  }
  .button .but_hd{
    margin-top: 230px;
  }
  .marquee{
    margin-top: 90px;
  }
  .wrapper .title_1 h2{
  font-size: 70px;
  }

  /*follow欄位*/
  .media{
    top: 470px;
    right: 4px;
  }
  .media .md_icon{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    padding-left: 2px;
  }
}

/* --------------- 斷點 1024 --------------- */
/*漢堡出現*/
@media screen and (max-width: 1024px){
  /*貝果滾*/
  .bage[alt]{
    width: 480px;
  }
  .begelimg {
    position: absolute;
    top: 40px;
    right: -485px;
    
    /* width: 500px;
    height: 500px; */
  }
  #nav li a {
    padding: 0px 24px;
  }
  #nav li {
    flex-basis: 100%;
  }
  .words h3{
    margin-left: -120px;
  }
  .about_bd{
    margin-left: 280px;
  }
  .about_hd h6{
    margin-left: -365px;
  }
  .wrapper .color {
    top: 1057px;
  }
  .wrapper .img_1 {
    width: 80%;
    margin-left: 110px;
  }
  .main .words{
    top: -3540px;
  }
  .wrapper .title_1 h1{
    font-size: 100px;
  }
  .contact_content{
    width: 1154px;
  }
  .egg_cont{
    padding-left: 42px;
  }
  .bg_img{
    margin-left: -50px;;
  } 
  .contact_content {
    width: 1104px;
  }
  .cream_img{
    grid-column: 7/11;
  }
  .egg_img{
    grid-column: 2/8;
  }
  .egg_cont{
    grid-column: 5/10;
    margin-left: 30px;
  } 
  .logo img{
    top:230px;
  }
  video{
    width: 100%;
    /* margin-left: 50px; */
  }
  .media{
    margin-left: 520px;
    left: 464px;
  }
  /*共同樣式調整*/
  /*購物車*/
 
  .nav_icon li>a{
    font-size: 20px;
    margin-left: 10px;
    margin-top: -3px;
  }

  /*漢堡出現:選單線-1280出現*/
  .line {
    width: 24px;
    height: 24px;
    background: #F9E5DA;
    cursor: pointer;
    display: block;
    padding: 16px;
    position: fixed;
    z-index: 2;
    margin-left: 5px;

    display: block;
  }
  .line .menu,
  .line .menu::before,
  .line .menu::after {
    background: #3e0407;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    width: 25px;
    display: block;
  }
  .line .menu {
    left: -120px;
    top: 37px;
    display: block;
  }

  .line .menu::before {
    top: -6px;
    display: block;
  }

  .line .menu::after {
    top: 6px;
  }
  /*
  點選選單變叉叉
  */
  #menu:checked + .line .menu {
    background: transparent;
    display: block;
  }

  #menu:checked + .line .menu::before {
    transform: rotate(45deg);
  }

  #menu:checked + .line .menu::after {
    transform: rotate(-45deg);
  }

  #menu:checked + .line .menu::before,
  #menu:checked + .line .menu::after {
    top: 0;
    transition: top ease .3s, transform ease .3s .3s;
  }

  /*上排nav隱藏*/
  #nav{
    display: none;
  }
  .nav_icon{

  }
  .menu-list li>a{
    font-size: 16px;
    padding-top: 40px;
  }
  
  /*
  選單開合
  */
  #menu:checked ~ .menu-list {
    width: 200px;
    
    display: block;
  }
  .nav-box{
    display: block;
  }
  .menu-list {
    width: 45px;
    height: 73vh;
    background: #F9E5DA;
    /* box-shadow: 0 2px 2px rgba(0, 0, 0, .1); */
    padding-top: 60px;
    position: fixed;
      /* z-index: 1;
      transition: all .6s;
      overflow: hidden;
      margin-left: 5px;
      display: block; */
    }
    .line .menu{
      display: block;  /*------------------------------1280px打開*/
    }
    /*
    選單向外推
    */
    .menu-list ul {
      list-style: none;
      margin-left:70px;
      padding: 0;
    }
    .menu-list ul>li{
      display:block;
      width:100px;
      font-size: 20px;
      color: #ba4b50;
    }
    /*
    隱藏核許框
    */
    input#menu {
      /* display: block; */
    }

    /*共同樣式區-footer*/
    .top{
      margin-left: -22px;
    }
    .mid{
      padding-left: 66px;
    }

    .wrapper .title_1 h2{
      font-size: 68px;
    }
  }

/* --------------- 斷點 947 --------------- */
@media screen and (max-width: 947px){
  .wrapper .title_1 h3{
    font-size: 40px;
  }

  #nav{
      width: 78vw;
  }

  #nav li a {
    padding: -10px 24px;
    font: 600 20px Tahoma;
  }
  
  .about_bd{
    margin-left: 10px;
  }

  .header .logo{
      margin-left: 10px;
  }

  .Box .small__img{
    margin-left: 20px;
  }

  .begelimg {
    position: absolute;
    top: 10px;
    right: -350px;
    /* width: 500px;
    height: 500px; */
  }

  .media{
    margin-left: 440px;
    left: 464px;
    top: 470px;
  }

  .bage[alt] {
    width: 450px;
  }    
  
  .about_hd h3{
    margin-left: -280px;
  }
  .about_hd h6{
    margin-left: -465px;
  }
  .about_bd {
    margin-left: 190px;
    font-size: 76px;
  }
  .about_hd h5{
    margin-left: -280px;
  }
  .JS-big{
    width: 770px;
    height: 560px;
    margin-right: 240px;
  }
  .main .words{
    margin-left: -40px;
    font-size: 60px;
  }
  .wrapper .title_1 h2 {
    font-size: 61px;
  }
} 

/* --------------- 斷點 902 --------------- */
@media screen and (max-width: 902px){
  /*貝果*/
  .bage[alt]{
    width: 450px;
    margin-left: 200px;
    padding-bottom: 50px;
  }
  .begelimg {
    position: absolute;
    top: 160px;
    right: -400px;
  } 
  
  /* element.style{
    transform: translate(-50px, 0px) rotate(10deg)
  } */
  .wrapper .color{
  top: 957px
  }
  #nav{
    width: 69vw;
  }
  #nav li a {
    padding: 0px 8px;
  }
  .header .logo{
    margin-left: 10px;
  }
  .wrapper .img_1{
    width: 90%;
    height: 90%;
    margin-left: 70px;
  }
  .JS-big {
    width: 843px;
    height: 590px;
  }
  .wrapper .title_1 h2{
    margin-left: 50px;
    font-size: 50px;
  }
  .about_bd h6{
    font-size: 18px;
  }
  .about_bd h5{
    font-size: 22px;
  }
  .button{
    padding-top: 130px;
    margin-left: 150px;
  }
  /*貝果滾*/
  /* .bage[alt]{
    width: 420px;
    margin-left: 110px;
    padding-bottom: 180px;
  } */
  .begelimg {
    position: absolute;
    top:30px;
    right: -355px;
    /* width: 500px;
    height: 500px; */
  }
  .wrapper .title_1 h1{
    font-size:  90px;
  }
  .wrapper .title_1 h3{
    font-size: 40px;
  }
  .about_hd h3{
    margin-left: -300px;
  }
  .about_hd h6{
    margin-left: -400px;
    font-size: 24px;
  }
  .main .words{
   top: -3801px;
  }
  .words h3{
    margin-left: -160px;
  }
  .header .logo{
    margin-left: 30px;
  }
  .about_bd .bag01{
    top: 163px;
    left: 440px;
    width: -60%;
  }
  .about_bd .bag02{
    top: -27px;
    left: 440px;
  }
  .begelimg {
    position: absolute;
    top: -10px;
    right: -340px;
    /* width: 500px;
    height: 500px; */
  }
  .contact_content{
    /* margin-left: 1.4vw; */
    gap: 0 ;
    /* grid-template-columns: repeat(7, 100px); */
    /* grid-template-rows: repeat(16, 100px); */
  }
  .contact_content{
    /* margin-left: 1.4vw; */
    gap: 0 ;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(16, 100px);
  }
  .bg_img{
    width: 90%;
    height: 90%;
    margin-left: 40px;
    background-size: cover;
    grid-column: 1 / 6;
    grid-row: 1 / 6;
    /* 完整填滿不會被擠壓  */
    /* background-size:cover; 根據給予長寬裁切大小 */
  }
  .bg_cont{
    grid-column: 6 / 7;
    grid-row: 2 / 4;
  }
  .cream_img{
    width: 60%;
    height: 70%;
    background-size: contain;
    grid-column: 6 / 9;
    grid-row: 6 / 13;
    margin-right: 20px;
  }

  .cream_cont{
    grid-column: 1 / 5;
    grid-row: 7 / 9;
  }
  .egg_img{
    width: 80%;
    height: 80%;
    margin-left: 40px;
    object-fit: contain;
    grid-column: 1 / 5;
    grid-row: 9 / 16;
  }
  .egg_cont{
    padding-left: 0;
    grid-column: 5 / 8;
    grid-row: 12 / 16;
  }
  .contact_content h3{
    font-size: 20px;
  }
  .contact_content p{
    font-size: 17px;
    padding-right: 10px;
  }
  .contact_content{
    /* margin-left: 1.4vw; */
    gap: 0 ;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(16, 100px);
  }
  .bg_img{
    width: 90%;
    height: 90%;
    margin-left: 40px;
    background-size: cover;
    grid-column: 1 / 6;
    grid-row: 1 / 6;
    /* 完整填滿不會被擠壓  */
    /* background-size:cover; 根據給予長寬裁切大小 */
  }
  .bg_cont{
    grid-column: 6 / 7;
    grid-row: 2 / 4;
  }
  .cream_img{
    width: 60%;
    height: 70%;
    object-fit: contain;
    grid-column: 6 / 9;
    grid-row: 6 / 13;
    margin-right: 20px;
  }
  .cream_cont{
    grid-column: 1 / 5;
    grid-row: 7 / 9;
  }
  .egg_img{
    width: 80%;
    height: 80%;
    margin-right: -40px;
    object-fit: contain;
    grid-column: 1 / 5;
    grid-row: 9 / 16;
  }
  .egg_cont{
    padding-left: 0;
    grid-column: 5 / 8;
    grid-row: 12 / 16;
  }
  .contact_content h3{
    font-size: 20px;
  }
  .contact_content p{
    font-size: 16px;
    padding-right: 20px;
  }
  .contact_content p{
    font-size: 19px;
  }
  .contact_content h3{
    font-size: 22px;
  }
  .follow{
    margin-top: 30px;
  } 
  .button .but_hd{
    margin-top: 100px;
  }

  .media{
    left: 424px;
  }

  /*調整影片*/
  video{
    margin-top: 60px;
  }

  /*調整購物車位置*/
  .nav_icon i{
    margin-top: -100px;
  }
  
  /*----------------------------------漢堡*/
  #menu:checked ~ .menu-list {
    width: 160px;
    height: 100vh;
    display: block;
  }
  .menu-list ul {
    display: block;
  }
  .menu-list li>a {
    font-size: 16px;
    padding-top: 30px;
    display: block;
    margin-left: -20px;
  }
  .menu-list{
    height: 100vh;
  }
  .line .menu{
    display: block; 
}
  .nav_icon li>a{
    font-size: 16px;
    margin-left: -20px;
    padding-top: 30px;
  }
  .line .menu, .line .menu::before, .line .menu::after{
    width: 15px;
  }
  /*
隱藏核許框
*/
input#menu {
  /* display: block; */
 }

 /*調整影片*/
 video{
  margin-top: 30px;
}

/*調整logo*/
.logo img{
  /* margin-left: 40px; */
  margin-top: -230px;
  width: 7vw;
  margin-left: 1%;
}

.nav_icon li>a{
  font-size: 16px;
  margin-left: -20px;
  padding-top: 0px;
}
}

/* --------------- 斷點 820 --------------- */
  @media screen and (max-width: 820px){
  div{
    width: 100%;
  }

  /*貝果滾*/
  .bage[alt]{
    width: 400px;
  }
  .begelimg {
    position: absolute;
    top: 20px;
    right: -575px;
    z-index: 1;
  }
  .wrapper .title_1 h2{
    font-size: 48px;
    margin-left: 10px;
    display: inline;
  }
  .wrapper .title_1 h6{
    font-size: 14px;
    display: inline;
    margin-left: 0;
  }
  .wrapper .title_1 h1{
    font-size: 60px;
    margin-left: 10px;
  }
  .wrapper .title_1 h3{
    font-size: 30px;
    margin-left: 10px;
  }
  .media .md_icon{
    width: 20px;
    height: 20px;
  }

  /*導航欄*/
  #nav{
    width: 77vw;
  }
  .slide1,
  .slide2{
    height: 30px;
    width: 98px;
    margin-top: -9px;
  }
  #nav{
    margin-top: 25px;
    height: 40px;
  }
  #nav li a {
    padding: 2px 20px;
    font: 600 14px Tahoma;
    top: -5px;
    }
    .header .logo{
    margin-left: 30px;
  }

  .wrapper .img_1{
    width: 75%;
    margin-left: 146px;
  }
  .wrapper .color{
    top: 855px;
    height: 180px;
  }


    .JS-big{
      width: 70%;
      height: 70%;
      margin-right: 130px;
    }
    .main .words{
      top: -3331px;
      font-size: 60px;
    }

    .logoimg{
      width: 510px;
      left: -263px;
      top: -930px;
    }
    .Box .small__img{
      width: 75%;
      margin-left: 60px;
    }
    .about_hd h3{
      margin-top: 0;
      font-size: 24px;
      margin-left: -520px;
    }
    .about_hd h6{
      font-size: 20px;
      margin-left: -520px;
    }
    .about_hd h5{
      font-size: 22px;
      margin-left: -520px;
      margin-top: 20px;
    }
    .about_bd h6{
      font-size: 16px;
      margin-right: -520px;
      padding-top: 0px;
      margin-bottom: 15px;
      margin-top: 15px;
    }
    .about_bd{
      margin-left: 260px;
      width: 485px;
      padding-top: 5px;
      height: 210px;
    }
    .about_bd h5{
      /* margin-left: 18px; */
      padding-top: 5px;
      width: 500px;
      font-size: 20px;
    }
    .about_bd img{
      width: 40%;
      margin-left: 500px;
    }
    .about_bd .bag01{
      left: -120px;
      top: 110px;
      width: 120px;
      rotate: 0 deg;
    }
    .about_bd .bag02{
      left: -120px;
      top: -15px;
      width: 120px;
      rotate: 0 deg;
    }
    .button .but_hd{
      margin-top: -200px; 
      font-size: 36px;
    }
    .contact_title{
      margin-top: 0px;
    }

  /*購物車*/
  .nav_icon{
    margin-top: -40px;
  }

  .nav_icon li>a{
    font-size: 20px;
    margin-left: 300px;
    padding-top: 18px;
}
  /*調整影片*/
  video{
    margin-top: 70px;
  }

  /*調整logo*/
  .logo img{
    /* margin-left: 40px; */
    margin-top: -240px;
    width: 7vw;
    margin-left: 1%;
}
  /*測軸*/
  .media .md_icon{
    line-height: 20px;
    font-size: 1.4vw;
    padding-top: 1px;
  }
  .media{
    line-height: 20px;
    top: 410px;
    right: -20px;
    font-size: 0.73vw;
    margin: 0 auto;
    text-align: center;
  }
  .contact_content p{
    margin-left: 15px;
    font-size: 16px;
  }
  .contact_content{
    gap: 0 ;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(16, 100px);
  }
  .bg_img{
    width: 90%;
    height: 90%;
    margin-left: 40px;
    background-size: cover;
    grid-column: 1 / 6;
    grid-row: 1 / 6;
    /* 完整填滿不會被擠壓  */
    /* background-size:cover; 根據給予長寬裁切大小 */
  }
  .bg_cont{
    grid-column: 6 / 7;
    grid-row: 2 / 4;
  }
  .cream_img{
    width: 60%;
    height: 70%;
    object-fit: contain;
    grid-column: 6 / 9;
    grid-row: 6 / 13;
    margin-right: 20px;
  }
  .cream_cont{
    grid-column: 1 / 5;
    grid-row: 7 / 9;
  }
  .egg_img{
    width: 80%;
    height: 80%;
    margin-left: 40px;
    object-fit: contain;
    grid-column: 1 / 5;
    grid-row: 9 / 16;
  }
  .egg_cont{
    padding-left: 0;
    grid-column: 5 / 8;
    grid-row: 12 / 16;
  }
  .contact_content h3{
    font-size: 20px;
  }
  /* .contact_content p{
    font-size: 16px;
    padding-left: 5px;
  } */
  .words h3{
    margin-left: -230px;
  }
  .words h3{
    margin-left: -320px;
  }
  .contact_content p{
    margin-left: -20px;
  }
  /*下排*/
  /* .words h3{
  margin-left: 240px;
  } */
  .button{
    margin-top: 40px; /*動畫上文字*/
  }
  .but_follow h3{
    font-size: 18px;
    margin-left: -40px;
    margin-top: 5px;
  }
  /*footer*/
  .footer_con h1{
    font-size: 40px;
  }
  .footer_con h2{
    font-size: 25px;
  }
  .footer_con h3{
    font-size: 18px;
  }
  .footer_con p{
    font-size: 8px;
  }
  .footer_con .top{
    padding-left: 40px;
  }
  .button .but_hd{
    margin-left: -50px;
    margin-top: 10px;
  }
  .button1 .but_hd{
    margin-right: 80px;
    font-size: 28px;
    margin-top: 100px;
  }
  .button1{
    margin-top: -10px;
  }
  .but_follow{
    margin-top: -20px;
    margin-left: -110px;
  }
  .but_liner{
    margin-left: -50px;
    margin-top: -9px;
  }
  .button1 .but_hd {
    margin-left: -50px;
  }
  .logo img{
    margin-top: -237px;
    width: 9vw;
  }
  .media{
    margin-left: 360px;
  }
  .bage[alt]{
    width: 400px;
    margin-left: 20px;
  }

  /*----------------------------------漢堡*/
  #menu:checked ~ .menu-list {
    width: 160px;
    height: 100vh;
  }
  .menu-list li>a {
    font-size: 16px;
    padding-top: 30px;
  }
  .menu-list{
    height: 62vh;
  }
  .nav_icon li>a{
    font-size: 20px;
    margin-left: -30px;
    padding-top: 38px;
  }
  .line .menu, .line .menu::before, .line .menu::after{
    width: 25px;
  }
}

/* --------------- 斷點 430 --------------- */
  @media screen and (max-width: 430px){
  div{
    width: 100%;
  }
  video {
    margin-top: 0px;
  }
  div{
    width: 100%;
  }
  #nav{
      left: 58%;
      width: 75vw;
      /* padding: 8px; */
  }
  .slide2 {
    width: 60px;
    margin-top: 5px;
    height: 5px;
    opacity: 20;
    background-color: #E7A4A6;
    line-height: 15px;
}
/*導航欄*/
  #nav{
      margin-top: 10px;
      /* padding: -16px; */
      height: 20px;
      line-height: 20px;
      margin-left: -20px;
  }
  #nav li a {
      padding: 0 2px;
      font: 400 9px Tahoma;
      text-align: center;
      margin: 0 auto;
  }
  #nav li{
  height: 18px;
  margin-top: -10px;
  }
  .header .logo{
  margin-left: 13px;
  width: 13%;
  z-index: 100;
  margin-top: -17px;
  }
  .big__img{
    width: 100%;
  }

  .begelimg {
    position: absolute;
    top: -20px;
    right: -735px;
  }
  .wrapper .title_1 h2{
    font-size: 26px;
    margin-left: 10px;
    display: inline;
  }
  .contact_title{
    margin-left: 50px;
  }
  .wrapper .title_1 h6{
    font-size: 8px;
    display: inline;
    margin-left: 0px;
  }
  .wrapper .title_1 h1{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .wrapper .title_1 h3{
    font-size: 18px;
    margin-left: 9px;
    margin-top: 10px;
  }
  .media{
    z-index: 100;
    right: -25px;
  }
  .media .md_icon{
    width: 20px;
    height: 20px;
  }
  .contact_title h2{
    /* margin-left: 30px; */
    margin-right: 100px;
  }
  .main .words{
    top: -3361px;
  }
  
  .Box .small__img{
    width: 115%;
    margin-top: 20px;
  }
  .small__img img{
    width: 51px;
    height: 35px;
    margin-left: 5px;
  }
  .Box{
    text-align: center;
    margin-left: -30px;
  }
  .but_follow h3{

  }
  .button .but_hd{
    margin-top: -40px;
  }
  .but_follow h3{
    margin-top: 30px;
  }

  /*導航欄*/
  .wrapper .img_1{
    width: 95%;
    margin-top: -1810px;
    margin-left: 15px;
  }
  .wrapper .color{
    top: 350px;
    height: 130px;
  }
  .wrapper .title_1 h3{
    margin-bottom: 149px;
  }
  .contact_title {
    margin-bottom: 0px;
    margin-top: -10px;
    margin-left: 30px;
  }
  .JS-big{
    width: 80%;
    height: 80%;
    margin-right: 60px;
    margin-top: 40px;
  }
  .logoimg{
    width: 350px;
    left: -223px;
    top: -690px;
    z-index: -1;
  }
  .main .words{
    top: -3291px;
    font-size: 28px;
    left: 30px;
  }
  .Box{
    margin-top: 0px;
  }
  .Box .small__img{
    margin-left: 30px;
  }
  .small__img, .JS-small{
    margin-top: 30px;
  }
  /* .logoimg{
    width: 270px;
    left: -163px;
    top: -840px;
    z-index: -1;
  } */
  .contact .liner{
    left: 1px;
  }
  .about_hd h3{
    margin-top: 40px;
    font-size: 20px;
    margin-left: -710px;
  }
  .about_hd h6{
    font-size: 14px;
    margin-left: -720px;
  }
  .about_hd h5{
    font-size: 16px;
    padding-top: -15px;
    margin-left: -710px;
  }
  .about_bd h6{
    font-size: 12px;
    margin-bottom: 5px;
  }
  .about_bd{
    margin-left: 32px;
    width: 360px;
    padding-top: 5px;
    padding-left: 30px;
    height: 154px;
  }
  .about_bd h5{
    padding-top: 5px;
    font-size: 18px;
  }
  .about_bd img{
    width: 40%;
    margin-left: 500px;
  }
  .about_bd .bag01{
    left: -120px;
    top: 110px;
    width: 120px;
    rotate: 0 deg;
  }
  .about_bd .bag02{
    left: -120px;
    top: -15px;
    width: 120px;
    rotate: 0 deg;
  }
  .button{
    margin-top: 40px;
  }
  .button .but_hd{
    margin-top: -200px; 
    font-size: 30px;
  }
  .contact_title{
    margin-top: -10px;
    padding-bottom: 0px;
  }
  .contact_title h2{
    margin-right: 0;
  }

  /*測軸*/
  .media .md_icon{
    line-height: 19px;
    font-size: 1.4vw;
    padding-top: 1px;
  }
  .contact_content{
    display: flex;
    flex-direction: column;
  }
  .bg_img{
  width: 80vw;
  height: 50%;
  margin-left: 45px;
  background-size: contain;
  margin-bottom: 30px;
  }
  /* {
    margin-left: 30px;
    width: 80vw;
  } */
  .bg_hd{
  margin: 0px;
  padding-left: 30px;
  /* font-size: 16px; */
  }
  .cream_img{
  /* width: 500px;
  height: 500px; */
  margin-top: 30px;
  /* object-fit: contain; */
  background-size: contain;
  order: 1;
  width: 40%;
  height: 40%;
  margin-left: 110px;
  }
  .cream_cont{
  margin-top: 30px;
  order: 2;
  padding-left: 0;
}
  .cream_bd1{
  margin: 0px;
  }
  .egg_img{
  width: 40%;
  height: 40%;
  background-size: contain;
  margin-left: 120px;
  margin-top: 40px;
  order: 3;
  }
  .egg_cont{
  order: 4;
  }
  .contact_content h3{
    font-size: 15px;
    width: 80vw;
    margin-left: 40px;
    padding-left: 45px;
  }
  .contact_content .cream_hd{
    margin-left: 40px;
  }
  .cream_bd1 p{
    margin-left: 0;
  }
  .egg_hd{
    margin-left: 20px;
  }
  .contact_content p{
    font-size: 12px;
    padding: 15px 5px;
    width: 70vw;
    margin-left: 80px;
    /* margin-left: 40px; */
  }
  .bg_hd{
    margin-left: 50px;
  }
  .words h3{
    margin-left: -610px;
    font-size: 22px;
    padding-top: 15px;
  }
  .but_follow{
    padding-top: 0;
    font-size: 28px;
    margin-left: -140px;
  }

  /*下排*/
  /* .words h3{
    margin-left: 240px;
  } */
  .button .but_hd{
    margin-left: -117px;
  }
  .but_follow h3{
    font-size: 14px;
  }
  .about_bd .bag01{
    left: -220px;
    top: 85px;
    width: 85px;
  }
  .about_bd .bag02{
    left: -210px;
    top: -5px;
    width: 85px;
  }
  .button .but_hd{
    margin-top: 40px;
    font-size: 30px;
  }
  .JS-big{
    margin-top: 30px;
    margin-right: -90px;
  }
  .but_liner{
    margin-left: -50px;
    margin-top: -10px;
  }
  .colorBlock{
    margin-top: 30px;
  }
  /* .about_bd .bag02{
    width: -240px;
    top: 45px;
  } */

  /*斷點調整*/
  .media .md_icon{
    font-size: 2.5vw;
    margin-left: 8px;
  }
  .contact_title{
    font-size: 16px;
  }
  .marquee{
    margin-top: -20px;
  }
  .follow .mImg{
      width: 100px;
  }
  .marquee-content{
    gap: 1px;
  }
  .colorbar{
    margin-top: 20px;
    width: 1.5vh;
    height: 1.5vh;
    padding-top: 80px;
  }
  .small__img, .JS-small{
    margin-left: 50px;
  }

/*footer*/
.footer{
  margin-left: 150px;
}
.footer_con h1{
  font-size: 18px;
  padding-top: 30px;
  margin-left: -10px;
}
.top h2{
  font-size: 14px;
  padding-left: 0px;
  padding-top: 10px;
}
.footer_con h3{
  font-size: 14px;
}
.footer_con p{
  font-size: 8px;
}
.footer_con .top{
  padding-left: 40px;
}
.button .but_hd{
  margin-top: -30px;
}
.meun_cont{
  /* padding-left: 215px; */
  padding-left: 35px;
}
.bottom p{
  font-size: 10px;
  margin-left: 10px;
}
.meun_cont h2{
  width: 100px;
  font-size: 14px;
  margin-top: 20px;
}
.mid{
  margin-left: -144px;
  margin-top: -34px;
  font-size: 12px;
}
.mid_con a{
  color: black;
  height: 20px;
  width: 20px;
  padding-bottom: 5px;
}
.footer_con h3, .mid_con h4{
  font-size: 12px;
}
.footer_con h2{
  margin-left: 0px;
}
.mailicon i{
  margin-top: 2px;
}    
.footer_con .top{
  padding-left: 30px;
}

.button1 .but_hd{
  margin-top: 30px;
}
.button .but_liner{
  margin-left: -120px;
  margin-top: -10px;
}
/*測軸*/
.media{
  line-height: 20px;
  top: 410px;
  right: 0px;
  font-size: 0.73vw;
  margin: 0 auto;
  text-align: center;
  margin-left: 320px;
}

/*購物車*/
.nav_icon{
  margin-top: -30px;
}
/*調整影片*/
video{
  margin-top: 25px;
}

/*調整logo*/
.logo img{
  /* margin-left: 40px; */
  margin-top: -235px;
  width: 7vw;
  margin-left: 1%;
}
/*----------------------------------漢堡*/
  #menu:checked ~ .menu-list {
    width: 140px;
    height: 100vh;
  }
  .menu-list li>a {
    font-size: 12px;
    padding-top: 30px;
  }
  .menu-list{
    height: 58vh;
  }
  .nav_icon li>a{
    font-size: 16px;
    margin-left: -10px;
    margin-top: -37px;
  }
  .line .menu, .line .menu::before, .line .menu::after{
    width: 18px;
  }
  .line .menu::after{
    top: 6px;
  }
  .line .menu{
    display: block;
  }

  .bage[alt]{
    width: 200px;
    margin-top: 20px;
    margin-left: -30px;
  }

  .line{
    margin-top: -30px;
  }
}
