*{
    text-decoration: none;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    background-color: #F9E5DA;
    position: relative; 
    align-items: center;
    overflow-x: hidden;
  }
/* --------------- 斷點 1920 --------------- */  
@media screen and (max-width: 1920px){
 /*導航*/
    div{
        width: 100%;
    }
    #nav li a {
        padding: 18px 70px;
        font: 800 26px Tahoma;
        text-align: center;
    }
    #nav li {
        flex-basis: 100%;
    }
}

/* --------------- 斷點 1440 --------------- */  
@media screen and (max-width: 1440px){
/*導航*/    
    div{
        width: 100%;
    }
    #nav li a {
        padding: 5px 40px;
        font: 800 20px Tahoma;
    }
    .bannerSet li{
        margin-left: 50px;
    }
 /*footer*/
}

/* --------------- 斷點 1280 --------------- */  
@media screen and (max-width: 1280px){
    div{
        width: 100%;
    }
    #nav{
        left: 55%;
    }
    #nav li a {
        padding: 5px 36px;
        font: 700 22px Tahoma;
    }
    /*測軸*/
    .media .md_icon{
        line-height: 30px;
        /* padding-top: 6px; */
        font-size: 1.4vw;
    }
    /*標題紅字*/
    .bageli_title1 .hd{
        font-size: 45px;
    }

    /*標題綠字*/
    .menutitle{
        font-size: 28px;
    }

    /*內容*/
    .menuimg img{
        height: 600px;
    }
    
}

/* --------------- 斷點 820 --------------- */  
@media screen and (max-width: 820px){
/*導航欄*/
    #nav li a {
        padding: 2px 20px;
        font: 600 14px Tahoma;
    }
    .header .logo{
        margin-left: 10px;
    }
/*測軸*/
    .media .md_icon{
        line-height: 30px;
        font-size: 1.8vw;
    }
/*內容*/
    .menuimg img{
        height: 410px;
        /* padding-left: 40px; */
        /* margin-left: 120px; */
        margin-left: 0;
    }
    .menu_main h2{
        font-size: 48px;
        /* margin-left: -320px; */
        margin-left: -510px;
    }
    .maintitle{
        margin-left: -491px;
    }
    .menu_main p{
        font-size: 20px;
        /* margin-left: -430px; */
        margin-left: -540px;
    }
    .bageli_title1 .hd {
        font-size: 32px;
        /* margin-left: -150px; */
        margin-left: -200px;
    }
    .menutitle{
        margin-left: 1px;
        margin-top: -40px;
        padding-bottom: 10px;
    } 
    .menutitle h2{
        font-size: 28px;
    }
    .header .logo{
        object-fit: contain 
        5% 5%;
    }
    .menu_main h2{
    font-size: 36px;
    }
    .menu_main p {
    margin-top: 30px;
    padding-left: 25px;
    }
    .main_con{
        padding-bottom: 10px;
        font-size: 24px;
        width: 600px;
        /* margin-left: 216px; */
        margin-left: 126px;
    }
    .menu{
        width: 600px;
        /* margin-left: 210px; */
        margin-left: 130px;
    }
    .menutitle{
        font-size: 22px;
    }
    .meun_cont h2 {
        width: 120px;
        height: 35px;
        line-height: 35px;
        font-size: 18px;
    }
    .main_tit2{
        font-size: 22px;
    }
/*9主菜單*/
    .menu_content{
        display: inline-block;
        text-align: center;
        background-repeat: no-repeat;
        /* border-radius: 60%; */
        height: 300px;
        margin: 0 auto;
        padding: 0;
        /* margin-left: 100px; */
        margin-left: -10px;
    }
    .menu1_img,
    .menu2_img,
    .menu3_img,
    .menu4_img,
    .menu5_img,
    .menu6_img,
    .menu7_img,
    .menu8_img,
    .menu9_img{
        /* top: 700px; */
        width: 38%;
        margin: -80px auto;
        padding-right: 50px;
        background-size: cover;
        display: inline-block;
        margin-top: 90px;
        
    }
    .menu1_bd,
    .menu2_bd,
    .menu3_bd,
    .menu4_bd,
    .menu5_bd,
    .menu6_bd,
    .menu7_bd,
    .menu8_bd,
    .menu9_bd{
        width: 180px;
        /* top:8%; */
        display: inline-block;
        font-size: 15px;
        margin-left: 20px;
    }
    .menu_content p{
        font-size: 14px;
    }
    .menu_content h2{
        font-size: 16px;
    }
    .creamnav{
        height: 870px;
    }

    .creamnav .img {
        width: 820px;
        height: 256.25px;
        margin-top: 100px;
        background-size: contain;

    }
    .settitle h3, .creamnav h3, .bannertitle h3{
        width: 600px;
        padding-bottom: 10px;
        font-size: 22px;
        height: 50px;
        /* margin-left: 220px; */
        margin-left: 120px;
    }
    .creamtitle{
        /* margin: 0 80px; */
        margin: 0 -10px;
    }
    .creamtitle ul{
        width: 670px;
        margin-top: 30px;
        margin-left: 105px;
    }
    .creamtitle ul h2{
        height: 25px;
        line-height: 25px;
        font-size: 16px;
    }
    .meun_cont p{
        font-size: 14px;
    }
    .bannertitle p{
        margin-left: -10px;
    }
    .bannertitle>h2{
        width: 91px;
        height: 35px;
        line-height: 35px;
        font-size: 16px;
        padding-left: 22px;
    }
    .creamtitle ul p{
        font-size: 15px;
    }
    .bannerSet ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
    .bannertitle>h2{
        margin-left: 120px;
    }
    .bannerSet li{
        margin-left: 102px;
    }
    .bannerSet h2{
        font-size: 14px;
        height: 26px;
        line-height: 26px;
        
    }
    .bannerSet .banner_p{
        font-size: 14px;
        padding: 20px;
        margin-left: 10px;
    }
    /*footer*/
    .footer{
        margin-left: 150px;
    }
    .footer_con h1{
        font-size: 28px;
        padding-top: 30px;
        margin-left: 50px;
    }
    .top h2{
        font-size: 25px;
        padding-left: 70px;
    }
    .footer_con h3{
        font-size: 18px;
    }
    .footer_con p{
        font-size: 8px;
    }
    .footer_con .top{
        padding-left: 40px;
    }
    .button .but_hd{
        margin-top: 10px;
    }
    .meun_cont{
        /* padding-left: 215px; */
        padding-left: 125px;
    }
    .bottom p{
        font-size: 12px;
        margin-left: 100px;
    }
    .meun_cont h2{
        width: 100px;
        font-size: 16px;
        margin-top: 20px;

    }
}

/* --------------- 斷點 430 --------------- */  
@media screen and (max-width: 430px){
    div{
        width: 100%;
    }
/*導航欄*/
    #nav li a {
        padding: 0 2px;
        font: 400 11px Tahoma;
    }
    .header .logo{
        margin-left: 10px;
        width: 18%;
    }
/*紅字標題距離*/
    .bageli_title1 .hd{
        font-size: 22px;
        margin-left: -260px;
    }
    .menutitle{
        margin-top: 100px;
        margin-left: 80px;
        font-size: 16px;
        margin-bottom: 0px;
    }
/*綠字*/
    .menutitle{
        margin-left: 80px;
    }
    .menu{
        width: 330px;
        margin-left: 90px;
    }
    .menutitle{
        margin-left: 0;
        margin-top: -70px;
    }
/*上方banner圖*/
    .menuimg img{
        height: 230px;
        padding-left: 40px;
    }

    .menuimg img{
        height: 220px;
        margin-left: -40px;
    }
    .menu_main h2{
        font-size: 30px;
        margin-left: -880px
    }
    .menu_main p{
    margin-top: 20px;
    font-size: 18px;
    margin-left: -900px;
    }
    .main_con{
        font-size: 16px;
    }
/*footer*/
    .footer_con h1{
        font-size: 20px;
    }
    .footer_con h2{
        font-size: 14px;
    }
  .footer_con h3{
        font-size: 12px;
    }
    .footer_con p{
        font-size: 8px;
    }
    .footer_con .top{
        padding-left: 30px;
    }
    .header .logo{
        margin-left: 20px;
        width: 16%;
        z-index: 100;
      }
}