
/* --------------- 斷點 1920 --------------- */  
@media screen and (max-width: 1920px){
}
/*導航*/
    .wrapper{
        margin: 0 auto;
    }
    div{
        width: 100%;
    }
    #nav li a {
        padding: 18px 70px;
        font: 800 26px Tahoma;
        text-align: center;
    }
    #nav li {
        flex-basis: 100%;
    }
    .slide2 {
        opacity: 20;
        background-color: #E7A4A6;
        height: 60px;
        width: 260px;
        line-height: 28px;
    }
    /*logo 側icon*/
    .logo img{
        margin-left: 60px;
        width: 9vw;
    }
    .media{
        top: 840px;
        right: 200px;
      }
      .media .md_icon{
        line-height: 20px;
      }

.slide2 {
    opacity: 20;
    background-color: #E7A4A6;
    height: 70px;
    width: 250px;
    line-height: 28px;
}

/* --------------- 斷點 1440 --------------- */  
@media screen and (max-width: 1440px){
}
/*導航*/
.slide2 {
    opacity: 20;
    background-color: #E7A4A6;
    height: 40px;
    width: 200px;
    line-height: 30px;
}
div{
    width: 100%;
}
#nav li a {
    padding: 5px 40px;
    font: 800 20px Tahoma;
}
.bannerSet li{
    margin-left: 70px;
}
/*測軸*/
.media {
    font-size: 0.73vw;
    display: flex;
    z-index: 5;
    position: fixed;
    top: 550px;
    right: 10px;
    flex-direction: column-reverse;
}
.media .md_icon {
    border-radius: 50%;
    background-color: #354E52;
    color: #fff;
    margin-top: 8px;
    width: 28px;
    height: 28px;
    flex-direction:column-reverse;
}
/* --------------- 斷點 1280 --------------- */  
@media screen and (max-width: 1280px){
    div{
        width: 100%;
    }
    #nav{
        left: 55%;
    }
    #nav li a {
        padding: 5px 36px;
        font: 700 22px Tahoma;
    }
    .slide2 {
        opacity: 20;
        background-color: #E7A4A6;
        height: 40px;
        width: 160px;
        line-height: 30px;
    }
    .shop_name h2{
        left: 150px;
    }
    .shop_cont{
        margin-left: -70px;
    }
    .shop_name{
        margin-bottom: 50px;
    }
    .bottom{
        margin-left: -90px;
    }
    /*測軸*/
    .media .md_icon{
        line-height: 18px;
        padding-top: 5px;
        font-size: 1.3vw;
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }
    .media{
        font-size: 0.73vw;
        top: 550px;
        right: -30px;
        line-height: 40px;
        margin: 0 auto;
        text-align: center;
    }
    .order_button {
        margin: 55px 540px;
    }
}


/* --------------- 斷點 820 --------------- */  
@media screen and (max-width: 820px){
 /*導航欄*/
    .slide1,
    .slide2{
        height: 30px;
        width: 98px;
        margin-top: -9px;
    }
    #nav{
        margin-top: 25px;
        height: 40px;
    }
    #nav li a {
        padding: 2px 20px;
        font: 600 14px Tahoma;
        top: -5px;
    }
    .header .logo{
        margin-left: 30px;
    }
    .logo img{
        margin-left: 40px;
        margin-top: -20px;
        width: 13vw;
    }

    .bageli_title1 .hd {
        font-size: 32px;
        /* margin-left: -150px; */
        margin-left: -200px;
    }
    .order,
    .shop{
        width: 80vw;
    }
    .menutitle,
    .shoptitle{
        margin-left: 1px;
        margin-top: -90px;
        padding-bottom: 10px;
        font-size: 22px;
    }
    .orderimg img{
        width: 800px;
        height: 230px;
        margin-left: -610px;
        margin-top: -10px;
    }
    .logo img{
        margin-left: 40px;
        margin-top: -20px;
        width: 13vw;
    }
    .media {
        right: -20px;
        top: 600px;
        line-height: 20px;
    }
    .bageli_title1 .hd{
        margin-top: -40px;
        margin-bottom: 90px;
        width: 90vw;
    }
    /*測軸*/
    .media .md_icon{
        padding-top: 1.8px;
        width: 27px;
        height: 27px;
    }
    .bottom p{
        margin-left: -440px;
    }
    .media{
        line-height: 20px;
        top: 510px;
        right: -15px;
        font-size: 0.73vw;
        margin: 0 auto;
        text-align: center;
    }
    .media li{
        text-align: center;
        margin: 0 auto;
        margin-left: 10px;
    }
    .bageli_title1 .hd {
        margin-top: -40px;
        margin-bottom: 90px
       }
    .order_set h2{
      margin-top: -110px;  
      width: 160px;
      height: 37px;
      font-size: 20px;
      padding-left: 5px;
    }
    .order_steps{
        margin-left:-530px;
        margin-top: -50px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-content: center; 
        align-items: center;
    }
    .order_con{
        margin-top: 15px;
    }
    .order_set h2{
        margin-left: -10px;
        font-size: 18px;
        width: 140px;
        margin-right: 10px;
        padding-left: 20px;
    }
    .order_set h3{
        /* margin-top: -130px; */
        margin-left: -10px;
        font-size: 18px;
        line-height: 0;
    }
    .order_step p{
        font-size: 16px;
    }
    .order_steps h1{
        font-size: 16px;
        width: 90px;
        height: 45px;
        line-height: 50px;
    }
    .order_step p{
        padding: 20px 35px 35px 35px;
        font-size: 16px;
        flex-direction: row;
    }
    .order_step h3{
        width: 70px;
        line-height: 140px;
    }
    .order_step{
        height: 130px;
        width: 410px;
    }
    .order_button{
        margin-left: 340px;
        font-size: 16px;
        width: 130px;
    }
    .shop2 h1,
    .shop2 h3,
    .shop2 h4{
        font-size: 36px;
        margin-left: -100px;
        margin-top: -30px;
    }
    .shopimg{
        margin-left: 95px;
        margin-top: 90px;
    }
    .shopimg img{
        width: 50%;
        height: 50%;
        margin-left: 10px;
        flex-direction: column;
    }
    .shop2 h1{
        top: 0px;
        margin-left: -30px;
    }
    .shop2 h3{
        left: 240px;
        top: 35px;
        width: 640px;
    }
    .shop2 h4{
        top: 70px;
        margin-left: -30px;
    }
    .shop_name h2{
        top: 1840px;
        left: 120px;
        font-size: 22px;
    }
    .shop_name{
        margin-left: 90px;
        padding-left: 0;
        /* display: flex; */
        /* flex-direction: column; */
    }
    .colorBlock{
        margin-top: 50px;
    }
    /*測軸*/
    .media .md_icon{
        line-height: 27px;
        font-size: 1.8vw;
    }
    .shop_cont >ul{
        display: flex;
        /* flex-direction: column; */
        text-align: left;
    }

    .shop_cont ul li{
        width: 210px;
        text-align: center;
        padding-left: 10px;
    }

    .shop_cont{
        max-width: fit-content;
    }

    .shop_cont h3{
        height: 26px;
        line-height: 26px;
        font-weight: 500px;
        width: 250px;
        margin-top: 0px;
        margin-left:10px;
    }
    .shop_cont p{
        font-size: 14px;
        padding: 20px;
        width: 200px;
        margin: 0px;
    }
    .shop_cont{
        margin-top:-170px;
        margin-left: 10px;
    }
    .order_step{
        border: 4px dashed #EFA5A6;
    }
    /*footer*/
    .footer{
        margin-left: 150px;
    }
    .footer_con h1{
        font-size: 28px;
        margin-left: 50px;
    }
    .top h2{
        font-size: 25px;
        padding-left: 70px;
    }
    .footer_con h3{
        font-size: 18px;
    }
    .footer_con p{
        font-size: 8px;
    }
    .footer_con .top{
        padding-left: 40px;
    }
    .button .but_hd{
        margin-top: 10px;
    }
    .meun_cont{
        /* padding-left: 215px; */
        padding-left: 125px;
    }
    .bottom p{
        font-size: 12px;
        margin-left: 150px;
    }
    .meun_cont h2{
        width: 100px;
        font-size: 16px;
        margin-top: 20px;
    }
    .logoimg{
        width: 800px;
        left: 657px;
        top: 37px;
    }
    form{
        margin-left: 180px;
        margin-top: 50px;
    }
    .logoimg{
        width: 600px;
        left: 380px;
        top: 10px;
    }
    .colorBlock{
        padding-top: 50px;
    }
    .mid{
        padding-top: 24px;
        padding-left: 6px;
    }
    .top h2{
        padding-left: 60px;
        
    }
    .mid_con h1{
        margin-left: 0px;
        color: #fff;
        font-size: 18px;
    }
    
}
/* --------------- 斷點 500 --------------- */  
@media screen and (max-width: 500px){
.mid{
    margin-left: -1170px;
}
}

/* --------------- 斷點 430 --------------- */  
@media screen and (max-width: 430px){
    .header{
        height: auto;
        overflow: hidden;
    }
    div{
        width: 100vw;
    }
    .logo img{
        margin-left: 13px;
        width: 13vw;
        margin-top: -13px;
    }
    .bageli_title1{
        width: 100vw;
    }
    
    .bageli_title1 .hd{
        margin-top: -100px;
        margin-bottom: 150px;
        font-size: 24px;
        margin-left: -90px;
    }

    div{
        width: 100%;
    }
    #nav{
        left: 58%;
        width: 70vw;
        /* padding: 8px; */
        margin-top: 10px;
        /* padding: -16px; */
        height: 20px;
        line-height: 20px;
        margin-left: -20px;
    }
    .footer_con h3{
        margin-left: 60px;
        font-size: 12px;
    }
    .mid{
        margin-left: -790px;
        margin-top:20px;
    }
    .mid_con{
        margin-top: 9px;
    }
    .mid_con h1{
        margin-top: 0px;
    }

    .bageli_title1 .hd{
        font-size: 26px;
        margin-left: -270px;
        width: 80vw;
    }
/*導航欄*/
    
    #nav li a {
        padding: 0 2px;
        font: 400 9px Tahoma;
        text-align: center;
        margin: 0 auto;
    }
    #nav li{
    height: 18px;
    margin-top: -10px;
    }
    .slide2 {
        width: 60px;
        margin-top: 5px;
        height: 5px;
        opacity: 20;
        background-color: #E7A4A6;
        line-height: 15px;
    }
    .header .logo{
    margin-left: 13px;
    width: 13%;
    z-index: 100;
    }
/*logo*/

    .order_step h3{
        font-size: 40px;
    }
/*紅字標題距離*/
    /* .bageli_title1 .hd{
        font-size: 22px;
        margin-left: -290px;
        margin-top: 400px;
    }
    .bageli_title1{
        margin-top: 100px;
        margin-left: 80px;
        font-size: 16px;
        margin-bottom: px;
    } */
/*綠字*/
    .bageli_title1 .hd{
        margin-top: -90px;
        margin-bottom: 90px
    }
    .orderimg{
        width: 100vw;
        margin-top: 0;
    }

    .orderimg img{
        width: 80vw;
        height: 100px;
        margin-right: 0;
        margin-top: 0;
        margin-left: 40px;
    }
    .menu{
        width: 330px;
        margin-left: 40px;
        margin-top: 100px;
    }
    .order{
        width: calc(100vw - 70px);
        margin-left: 50px;
    }
    .menutitle,
    .shoptitle{
        /* margin: -70px 0 0 0; */
        margin-top: -120px;
        margin-left: 10px;
        font-size: 16px;
    }
    .shoptitle{
        margin-top: 10px;
    }
    .shop{
        margin-left: 50px;
        margin-bottom: 50px;
    }
    .menutitle h2{
        margin-left: 140px;
        font-size: 22px;
    }
    .shopimg{
        display: flex;
        flex-direction: column;
        width: calc(100vw - 95px);
    }
    section{
        width: 100vw;
    }

    .shop_cont{
        margin-top: 10px;
    }
    .shopimg img{
        margin-left: -40px;
        width: 100%;
    }
    .shop_cont img{
        margin-top: 0;
        flex-wrap: wrap;
    }
    .shop_cont ul {
        display: flex;
        flex-direction: row;
    }
    .shop_cont ul li{
    }
    .shop_hd1, .shop_bd1{
        /* flex-wrap: row; */
    }
    .shop_cont p{
        padding: 0px;
    }

    /* .order_step p{
        padding: 20px 50px 20px 20px;
        font-size: 14px;
    } */
    /*logo*/
    .header .logo{
        margin-left: 13px;
        width: 13%;
        z-index: 100;
    }
  
    .orderimg{
        height: 366px;
    }
    .shoptitle{
        padding-top: 0px;
    }
    

    /*右側icon*/
    .main_con{
        font-size: 16px;
        margin-left: 36px;
    }
    .media .md_icon{
        font-size: 10px;
        margin-left: 8px;
        width: 20px;
        height: 20px;
        line-height: 16px;
    }
    .media{
        right: -180px;
    }
    .media li{
        text-align: center;
        margin: 0 auto;
        margin-left: 10px;
    }
    .shop_cont p{
        padding: 5px;
        font-size: 11px;
    }
    .shop_cont{
        margin-top: 60px;
    }
    .shop_cont ul{
        display: flex;
        flex-direction: column;
    }
    .shop_name h2{
        top: 1510px;
        left: 68px;
        font-size: 18px;
    }
    .bageli_title1 .hd {
        margin-top: -120px;
        margin-bottom: 90px;
    }
    /* .order_con{
        margin-top: -310px;
    }  */
    .order_steps{
        margin-left: -852px;
        margin-top: -250px;
        /* width: 410px; */
    }
    .order_step{
        height: 110px;
        width: 270px;
        margin-right: 180px;
        margin-top: 20px;
    }
    .order_steps h1{
        width: 70px;
        height: 40px;
        line-height: 45px;
        font-size: 14px;
    }
    .order_step p{
        font-size: 13px;
        padding: 5px 20px 10px 20px;
    }
    .shop_cont h3{
        font-size: 12px;
    }
    .order_step h3{
        font-size: 32px;
        line-height: 100px;
    }
    .shop2 h1, .shop2 h3, .shop2 h4{
        max-lines: -110px;
        font-size: 30PX;
    }
    .bottom p {
        margin-left: -840px;
    }
    .order_button{
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        margin: 0px;
        margin-left: 145px;
        margin-top: 20px;
    }
    .shop_name{
        margin-left: 100PX;
        margin-bottom: 220px ;
        width: calc(100vw - 100px);
    }
    .shop2 h1{
        margin-left: -100px;
    }
    .shop2 h3{
        left: 170px;
    }
    .shop2 h4{
        left: 100px;
    }
    .mid h3{
        margin-bottom: 0;
    }
    footer{
        margin-top: -20px;
    }
    /*footer end*/
    /* .slide2 {
        opacity: 20;
        background-color: #E7A4A6;
        height: 30px;
        line-height: 28px;
    } */
    .order_set>h3{
        margin: 5px 25px 0 0;
    }
    .order_set h3{
        font-size: 13px;
        line-height: 25px;
        margin-left: -80px;
    }
    .order_set h2{
        font-size: 14px;
        width: 125px;
        height: 30px;
        line-height: 30px;
        padding-left: 25px;
        margin-left: -95px;
        margin-top: -270px;
    }
    .shop_bd1{
        color : #ba5e62;
    }
    .colorBlock img{
        margin-top: 0px;
    }
    .colorBlock{
        margin: 16px;
        /* margin-top: -20px; */
    }
    .meun_cont h2{
        width: 100px;
        font-size: 14px;
        margin-top: 20px;
    }
    .mid{
        margin-left: -1354px;
        margin-top: -14px;
        font-size: 12px;
    }
    .mid_con a{
        color: black;
        height: 20px;
        padding-bottom: 5px;
    }
    .mid_con h4{
        font-size: 12px;
    }
    .mid_con h4{
        width: 265px;
        border-bottom: 1px solid #354e52;
        padding: 10px 0 5px 10px;
    }
    .mailicon i{
        margin-top: 2px;
    }    
    .footer_con .top{
        padding-left: 30px;
    }
    /*footer star*/
    .footer{
        margin-left: 150px;
    }
    .footer_con h1{
        font-size: 20px;
        padding-top: 30px;
        margin-left:-5px;
    }
    .top h2{
        font-size: 16px;
        padding-left: 0px;
        padding-top: 10px;
    }
    .footer_con p{
        font-size: 8px;
    }
    .footer_con .top{
        padding-left: 40px;
    }
    .button .but_hd{
        margin-top: 10px;
    }
    .meun_cont{
        /* padding-left: 215px; */
        padding-left: 35px;
    }
    .bottom p{
        font-size: 10px;
        margin-left: 120px;
        width: 380px;
    }
    .meun_cont h2{
        width: 100px;
        font-size: 14px;
        margin-top: 20px;
    }

    .colorBlock{
        width: 90vw;
    }

    .footer_con{
        width: 100vw;
    }

    .mid{
        margin-left: 625px;
        margin-top: 7px;
        font-size: 12px;
        padding: 0;
    }

    .mid h3{
        width: fit-content;
    }

    .mid h1{
        padding: 0;
        font-size: 12px;
        color: white;
        width: 30vw;
        text-wrap: nowrap;
    }

    .mid_con a{
        color: black;
        height: 20px;
        padding-bottom: 5px;
        width: 20px;
    }
    .footer_con h3, .mid_con h4{
        font-size: 12px;
        margin-left: -550px;
        margin-top: 25px;
    }
    .footer_con h2{
        margin-left: 0px;
        margin-top: 5px;
      }
    .mid_con h4{
        width: 265px;
        border-bottom: 1px solid #354e52;
        padding: 10px 0 5px 10px;
    }
    .mailicon i{
        margin-top: 2px;
    }    
    .footer_con .top{
        padding-left: 30px;
    }
    /*footer end*/
    .slide2 {
        opacity: 20;
        background-color: #E7A4A6;
        height: 27px;
        line-height: 27px;
    }
    .mid_con{
        margin-left: -580px;
        margin-bottom: 10px;
    }
}